.content
  .title_post_rss
    = feed_entry.name
  .image_post
    = image_tag 'rss.png'
  .clearboth
  .message_content
    %p= feed_entry.summary
    .clearboth
    .posted
      = link_to 'Read post and comment', feed_entry.url
