<td>
  <%= account.title %>
</td>
<td class="status-active">
  Active
</td>
<td>
  <% if account.account_id %>
    <%= link_to 'Disable', settings.fb_disable_url << "?account_id=#{account.account_id}" %> |
    <%= link_to 'Remove', settings.fb_remove_url << "?account_id=#{account.account_id}", 
      :confirm => account_delete_confirmation %>
  <% end %>
</td>