<td>
  <font style="font-weight: bold"><%= account.title || 'Unknown user' %></font> 
</td>
<td>
  <span style="color:red;">Requires Authorization</span>
</td>
<td>
  <%= link_to 'Enable', settings.fb_login_url %> |
  <% if account.account_id %>
    <%= link_to 'Remove', settings.fb_remove_url << "?account_id=#{account.account_id}", 
      :confirm => account_delete_confirmation %>
  <% end %>
</td>