<% unless list.blank? %>
  <div id="result-facebook-account">
    <table>
      <% list.each do |fb| %>
        <tr>
          <% if fb.active? %>
            <% if fb.confirmed? %>
              <%= render :partial => 'backup_sources/facebook_account_active', :locals => {:account => fb} %>
            <% else %>
              <%= render :partial => 'backup_sources/facebook_account_needs_auth', :locals => {:account => fb} %>
            <% end %>
          <% else %>
            <%= render :partial => 'facebook_account-needs-activation', :locals => {:account => fb} %>
          <% end %>
        </tr>
      <% end %>
    </table
  </div>
<% end %>