<% unless list.nil? || list.empty? %>
  <div id="result-facebook-account">
    
    <br/>
    <table id="facebook-accounts-table">
      <tr>
        <th>Owner</th>
        <th>Authorization Status</th>
        <th>Actions</th>
      </tr>
    
      <% list.each do |fb| %>
        <tr>
          <% if settings.facebook_confirmed && fb.confirmed? %>
            <%= render :partial => 'backup_sources/facebook_account_active', :locals => {:settings => settings, :account => fb} %>
          <% else %>
            <%= render :partial => 'backup_sources/facebook_account_needs_auth', :locals => {:settings => settings, :account => fb} %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>