<% unless list.blank? %>
  <br>
  <table class="backup-accounts-table">
    <tr>
      <th>Owner</th>
      <th>Authorization Status</th>
      <th>Actions</th>
    </tr>
    <% list.each do |linkedin| -%>
      <tr id="linkedin-list-<%= linkedin.id %>">
        <td><%= linkedin.title %></td>
        <td><%= linkedin.active? ? 'Active' : 'Inactive' %></td>
        <td><%= link_to_remote 'Remove', 
        :url => {:controller => 'backup_sources', :action => 'remove_linkedin_account', :id => linkedin.id},
        :confirm => 'Are you sure?',
        :with => "'method=delete'", 
        :loading => "$('progress-bar').show();",
        :complete => "$('progress-bar').hide();" %>    
        </td>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>
