<% unless feed_urls.blank? %>
  <br/>
  <table class="backup-accounts-table">
    <tr>
      <th>Name</th>
      <th>Authorization Status</th>
      <th>Actions</th>
    </tr>
    <% feed_urls.each do |feed| -%>
      <tr id="url-list-<%= feed.id %>">
        <td><%= feed.name %></td>
        <td><%= feed.active? ? 'Active' : 'Inactive' %></td>
        <td>
        <%= link_to_remote 'Remove', 
        :url => remove_url_backup_sources_path(:id => feed.id),
        :confirm => 'Are you sure?',
        :loading => "$('progress-bar').show();",
        :complete => "$('progress-bar').hide();" %>    
        </td>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>
