<% unless list.blank? %>
  <br>
  
  <tr>
    <th>Owner</th>
    <th>Authorization Status</th>
    <th>Actions</th>
  </tr>
    <% list.each do |twitter| -%>
      <tr id="twitter-list-<%= twitter.id %>">
        <td><%= twitter.title %></td>
        <td><%= twitter.active? ? 'Active' : 'Inactive' %></td>
        <td><%= link_to_remote 'Remove', 
        :url => remove_twitter_account_backup_sources_path(:id => twitter.id),
        :confirm => account_delete_confirmation,
        :with => "'method=delete'", 
        :loading => "$('progress-bar').show();",
        :complete => "$('progress-bar').hide();" %>    
        </td>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>
