- use_busy
- stylesheet 'account_settings'

// - title 'Enable Facebook Backup'
.fb-popupbox
  = link_to_function "", "parent.Lightview.hide()", :class => "close-btn"
  .top-text
    Authorize Facebook Backup
  .clear

  #container.fb-popup-container1
    .top-titlebox
      .checklist
      .popup-title1
        Enable Backup
      .clear
    #message.popup-text-area
      .popup-title2
        Grant Access to Facebook Data
      We need you to grant us permission to access your Facebook data, which includes your status updates and pictures.

      - render :partial => 'begin', :locals => {:auth_token => @auth_token, :login_url => @login_url}
      .clear
  = image_tag "facebook-backup/fb-bottom.png"

  
:javascript
  Event.observe(document, 'lightview:hidden', function(evt) { 
    $('message').update('<h2>Checking Permissions...Please Wait</h2>');
    load_busy($('message'));
    location.href = '#{url_for(:action => 'authenticate', :auth_token => @auth_token)}'; 
  });
  //$('continue').show() })

