- title 'Forgotten Password'

%h1#page-header Forgotten Password
.yui-g
  #forgot-password
    %p
      An email has been sent to you with instructions on how to reset your password.
    %p
      If you do not receive the email within 1 hour, please
      = link_to 'Contact Support', home_path('contact-support')
