- @no_prototype = true
- use_uploader

- title "Upload Artifacts"

%h1 Upload Artifacts
%p
  Upload all your photos, movies, and secure documents all at once!

= error_messages_for @object.class

- form_remote_for(@object, :url => @form_url || create_content_path_with_session_information, :html => { :id => "new_content", :multipart => true } ) do |f|
  = render :partial => 'upload_form', :locals => {:f=>f}
- form_for :content, :url => {:controller => :contents, :action => :edit_selection, :dialog => using_layout?(:dialog) ? '1' : nil}, :html => {:id => 'add_descriptions_form'} do |f|
  = hidden_field_tag 'content[ids]', '', {:id => 'content-ids'}
  

