.content.what
  %fieldset
    .what01
      %h1 Forgot Password

      = show_flash_messages
      %p
        - if @sent_email
          If you do not receive the email within 1 hour, check your Junk Mail folder or 
        = link_to 'Contact Support', '/about/contact'
