- title 'Forgot Password'
- stylesheet 'application'

%h1#page-header Forgot Password
.yui-g
  #forgot-password
    = show_flash_messages
    %p
      - if @sent_email
        If you do not receive the email within 1 hour, please
      = link_to 'Contact Support', home_path('contact-support')