- title 'Forgot Password'
- stylesheet 'application'

%h1#page-header Forgot Password
.yui-g
  #forgot-password
    = show_flash_messages
    %p
      If you've forgotten your password, you can submit your email address
      here to request a password reset.  A confirmation email will be sent to
      you which will contain a link you can use to reset your password.
    %br
    - form_tag password_resets_path do
      %p.account-verification
        Email:
        = text_field_tag :email
      = submit_tag "Send", :class => "login"