BODY { margin: 0; padding: 0; background: #fff url(/images/bg_header.gif) repeat-x; font-family: Arial, Helvetica, sans-serif; font-size: 14px;}
FIELDSET { margin: 0; padding: 0; border: none;}

/* header */
.header { width: 100%; height: 100px; border-bottom: 1px solid #CCCCCC; background: url(/images/clouds.gif) top right no-repeat;}
.header DIV { width: 988px; margin: 0 auto;}
.header IMG { float: left;}
.header FORM { margin: 23px 15px 0 0; padding: 0; float: right;}
.header INPUT[type=submit] { background: url(/images/button-logout.gif) no-repeat; width: 76px; height: 30px; padding: 0; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; cursor: pointer; font-family: Arial, Helvetica, sans-serif; vertical-align: middle; margin-left: 10px;}
.header UL { margin: 15px 0 0 175px; padding: 0; float: left; width: 625px;}
.header LI { display: inline;}
.inact, .inact2 { margin: 0 0 0 5px; height: 32px; float: left;}
.inact A { color: #02419E; font-size: 18px; text-decoration: none; background: url(/images/nav-left01.png); display: block; height: 26px; padding: 6px 0px 0 10px; float: left; white-space: nowrap;}
.inact2 A { color: #cfcfcf; font-size: 18px; text-decoration: none; background: url(/images/nav-left01.png); display: block; height: 26px; padding: 6px 0px 0 10px; float: left; white-space: nowrap;}
.inact2 SPAN, .inact SPAN { display: block; float: left; width: 10px; background: url(/images/nav-right01.png); height: 32px;}
.active { margin: 0 0 0 5px; height: 32px; float: left;}
.active A { color: #02419E; font-size: 18px; text-decoration: none; background: url(/images/nav-left02.png); display: block; height: 27px; padding: 6px 0px 0 10px; float: left; white-space: nowrap;}
.active SPAN { display: block; float: left; width: 10px; background: url(/images/nav-right02.png); height: 33px;}
.active A:hover, .inact A:hover { text-decoration: underline; color: #02419E; }

/* footer */
.footer { height: 137px; background: url(/images/bg_footer.gif) repeat-x; border-top: 4px solid #CCCCCC; padding-top: 22px;}
.footer DIV { width: 988px; margin: 0 auto;}
.footer UL { margin: 0; padding: 0; width: 528px; list-style: none;}
.footer LI { float: left; width: 176px; margin-bottom: 5px;}
.footer LI, .footer LI A { color: #02419E; text-decoration: none;}
.footer LI A:hover { text-decoration: underline;}
.footer P { margin: 0; padding: 0; color: #02419E;}

/* content */
.content { width: 988px; margin: 0 auto; padding: 25px 0;}

/* 1st login */
.login1_left { width: 249px; float: left; margin-right: 13px;}
.login1_left H1, .login1_right H1 { margin: 0 0 18px 0; padding: 0 0 10px 0; font-size: 20px; font-weight: normal; border-bottom: 1px dashed #CCCCCC; color: #02419E;}
.login1_left UL { margin: 0; padding: 0; list-style: none;}
.login1_left LI { margin-bottom: 30px;}
.li-active { background: url(/images/green-check.gif) no-repeat 100px 0;}
.login1_left H2 { margin: 0; padding: 0; font-size: 18px; font-weight: normal; color: #2EA4FF;}
.login1_left H3 { margin: 0; padding: 0; font-size: 12px; font-weight: normal; color:#9D9D9D;}

.login1_right { width: 722px; float: left; color: #5F5F5F;}
.icons IMG { vertical-align: top;}

/* dashboard */
#acct_settings { margin-top: -15px;}
#acct_settings A { color: #6D6D6D; text-decoration: none; display: block; width: 131px; height: 37px; padding: 20px 0 0 10px;}
#acct_settings A:hover { font-weight: bold;  background: url(/images/blue-button.gif) no-repeat;}
#acct_settings LI { margin: 0 0 -15px 0; padding: 0;}
.login1_right HR { clear: both;  margin: 20px 0; padding: 0; border: none; border-top: 1px dashed #cccccc; height: 1px;}

#active_network-add { background: url(/images/icon-add-more.gif) top center no-repeat; padding-top: 50px; float: right; margin-right: 10px; color: #000000;}

.search_timeline { margin: 0; padding: 0;}
.search_timeline INPUT[type=text] { background: url(/images/bg_input.gif) repeat-x; border: 1px solid #CCCCCC; padding: 5px; font-family: Arial, Helvetica, sans-serif; color: #907777; vertical-align: middle;}
.search_timeline INPUT[type=submit] { background: url(/images/bg_login-button.gif) no-repeat; width: 76px; height: 30px; padding: 0; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; cursor: pointer; vertical-align: middle;}

.tags A { text-decoration: none; color: #6D6D6D;}
