<div class="content-left">
      <div class="myBox get-started01 <%= 'get-started02' unless step == 1 %>">
          <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Information</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing sapien non enim volutpat pulvinar in at lectus. Vivamus eget ornare arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus justo lacus, tincidunt at facilisis sed, ultrices et nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu dolor sapien.
          </p>
      </div>
      <div class="myBox get-started01 <%= 'get-started02' unless step == 2 %>">
          <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Options &amp; Type</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing sapien non enim volutpat pulvinar in at lectus. Vivamus eget ornare arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus justo lacus, tincidunt at facilisis sed, ultrices et nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu dolor sapien.
          </p>
      </div>  
      <div class="myBox get-started01 <%= 'get-started02' unless step == 3 %>">
          <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Initial account setup</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam adipiscing sapien non enim volutpat pulvinar in at lectus. Vivamus eget ornare arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus justo lacus, tincidunt at facilisis sed, ultrices et nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eu dolor sapien.
          </p>
      </div>          
</div>