<div class="content-left">
      <div class="myBox get-started01 <%= 'get-started02' unless step == 1 %>">
          <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Information</h2>
          <p>
            Getting started is easy! Just enter the information requested in the form below, choose a subscription plan, 
            and sign up for your free 30 day trial.
          </p>
      </div>

      <div class="myBox get-started01 <%= 'get-started02' unless step == 2 %>">
          <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Plan</h2>
          <p>We currently offer a single Premium plan with a 30 day free trial. 
          <br/>
          We also offer customized plans for large companies
          </p>
      </div>  
      <div class="myBox get-started01 <%= 'get-started02' unless step == 3 %>">
          <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" />Payment Information</h2>
          <p>Enter your payment information in our secure form.<br/>
          <strong>You will not be charged if you cancel within 30 days!</strong>
           </p>
      </div>          

</div>