<fieldset class="content">
	<%= render :partial => 'left_content', :locals => {:step => 2} %>
	<div class="content-box">

		<h1>Please choose your account type</h1>
        <div class="myBox account-types">
            <h2>Free account</h2>
            <ul>
                <li>250GB Storage</li>
                <li>50 Google Apps Accounts</li>
                <li>Add Additional Accounts as Needed</li>
                <li>Access to Beta Services</li>
                <li>Priority Support</li>
            </ul>        
            <p class="myBox account-type-price"><strong>$00.00/month</strong><br />
            <em class="px11">Upgrade available after login</em></p>
            <p><a href="<%= account_setup_path %>" id="yellow-button2">Get Free Account</a>
            	<a href="#">See personal account options</a>
            </p>
        </div>
        
        <div class="myBox account-types featured-account-type">
            <h2>Premium Account</h2>
            <ul>
                <li>100GB Storage</li>
                <li>25 Google Apps Accounts</li>
                <li>Access to Beta Services</li>
                <li>Upgrade to Premium</li>
                <li>Priority Support</li>
            </ul>        
            <p class="myBox account-type-price"><strong>$4.95/month</strong></p>
            <p><a href="<%= url_for(:action => 'billing', :plan => 'Premium') %>" id="yellow-button2">Get Premium Account</a>
            	<a href="#">See personal account options</a>
            </p>
        </div>        
        
	</div>
</fieldset>
