<table width="540" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td bgcolor="#44aeff" style="padding:4px 0 4px 0;" align="center">
			<span style="font-family:arial;font-size:14px;color:white"><b>Congratulations, your account has been activated!</b></span><br/>
		</td>
	</tr>
	<tr>
		<td style="font-family:arial;font-size:12px;color:#333333;	text-align:justify;line-height:20px;padding-top:10px;">
			<br />
				Thank you for signing up for an Eternos.com account.  
				<br/>
				Your Eternos account is a secure and permanent means of archiving your meaningful social web activity.
				<p>
				There always is a "FEEDBACK" button on our site, if you run into anything that you consider could be improved, please let us know!
				</p>
			<br />
		</td>
	</tr>
	<tr>
		<td style="width:540px;height:1px;background:url(<%= image_path '/email/dotted.gif' %>) repeat-x;margin-top:10px;"></td>
	</tr>
	<tr>
		<td style="font-family:arial;font-size:11px;color:#333333;text-align:justify;line-height:20px;">
			Login: <%= @login %>
			<br/>
			Your Homepage: <%= link_to member_home_url, member_home_url %>
			<br />
		</td>
	</tr>
	<tr>
		<td style="width:540px;height:1px;background:url(<%= image_path '/email/dotted.gif' %>) repeat-x;margin-top:10px;"></td>
	</tr>
</table>
