Hello <%= @name %>
<br/>
<p>
Your Eternos.com account is active but hasn't been active recently. As a Beta 
User you have free unlimited storage on Eternos for life, it is our sincere hope you 
find a few moments to start the automated logging of your life.
</p>
Did you know Eternos offers...<br/>
-Automated and continuous logging of Facebook, Twitter, Blog/RSS feeds, Picasa, 
and Gmail.<br/>
-A Life Timeline and Search<br/>
-Direct file upload for secure storage of home movies, important documents, 
photographs, and music files.<br/>
-The most secure means of ensuring your memories survive for future generations.
<br/>
<p>
The sooner you get started the more data you will pass on to future generations of 
loved ones. Eternos is a secure, free, permanent means of logging the things you already
do online. Your life log will be an invaluable resource for loved ones, so click the link
today to complete your account setup.
</p>
<br/>
<%= @link %>
<br/>



