<div id="account-setting-content" class="makeScroll">
  <div id="notice" class="flash_notice"></div>
      
  <%= render :partial => 'gmail', :locals => {:completed_steps => @completed_steps, :current_gmail => @current_gmail, :email_accounts => @email_accounts} %>
 
</div>
<%= javascript_tag "
  setDinamycHeight('account-setting-content');
"
%>