<div id="account-setting-content">
  <div class="title3">Backup Your Gmail Account</div>
  <div class="textarea6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac magna id erat interdum cursus. Curabitur nisi metus, rhoncus in mattis ac, mattis at orci. Cras placerat lectus in magna cursus dictum. Fusce lacinia feugiat ullamcorper. Aliquam et magna risus. Curabitur rhoncus nisl sit amet elit fringilla ut tincidunt justo imperdiet.
		<br /><br />
		<center>
		<table width="400" class="table1" border="0" cellspacing="0" cellpadding="0">
			 	<tr>
	        <td colspan="3" class="titlebox1">Your Gmail Account</td>
	      </tr>
	      <tr>
	        <td class="coll-form7" valign="bottom">&nbsp;&nbsp;Email</td>
		    	<td class="coll-form2" valign="bottom">:</td>
		    	<td class="coll-form3" valign="bottom"><input type="textbox" class="textbox5"></td>
	      </tr>
	      <tr>
	        <td class="coll-form7" valign="bottom">&nbsp;&nbsp;Password</td>
		    	<td class="coll-form2" valign="bottom">:</td>
		    	<td class="coll-form3" valign="bottom"><input type="textbox" class="textbox5"></td>
	      </tr>
				<tr>
	        <td width="100%" align="right" colspan="3"><a href="#" class="submit-btn2">Submit</a></td>
	      </tr>
		</table>
		</center>
 </div>
</div>