<div id="account-setting-content" class="makeScroll">
  <%= render :partial => "accounts/personal_info" %>
</div>
<%= link_to "testing", member_home_path, :class => 'popup_get' %>
<%= javascript_tag "Scroller.reset('account-setting-content');setDinamycHeight('account-setting-content');" %>
