<% form_remote_tag :html => { :action => url_for(:action => 'save_personal_info'), 
  :id => 'personal_info_form' },
  :url => { :action => 'save_personal_info' },
  :complete => "updateStep('#{completed_steps_account_setting_path(current_user)}', #{completed_steps})" do %>
  <table class="table-form1" width="460" >
    <tbody>
      <tr>
        <td colspan="3">
  	    <div class="title2"><h3>Personal Information</h3></div><br />
  			<div class="textarea7">
  			  <% unless setup %>
  			    Feel free to enter additional details about yourself here.
  			    <br/>
  			  <% end %>
  			  Fields marked with a <font style="color: red;">*</font> must be filled in.
  			</div>
    	  </td>
      </tr>
      <tr>
        <td colspan="3">
  	      <hr class="line1" /><a href="#" class="plusminus"></a>
  	    </td>
  	  </tr>
  	  <tr>
  	    <td colspan="3">
  	      <div id="notice" class="flash_notice"></div>
  	    </td>
  	  </tr>

      <%= render :partial => 'profiles/personal_info_form', :locals => {:address_book => settings.address_book, :profile => settings.profile, :basic_view => setup} %>
      
      <%= render :partial => 'account_settings/security_questions', :locals => {:security_questions => settings.security_questions} %>
    </tbody>
  </table>
  <%= setup ? submit_tag('Next Step', :class => "submit-btn4") : submit_tag("Save", :class => "submit-btn4") %>
<% end %>
