<div id="profile-content">
  <%= render :partial => 'personal_info_form', :locals => {:settings => @settings, :completed_steps => @completed_steps, :setup => false} %>
</div>
<%= javascript_tag "
  document.observe('dom:loaded', function() {
    datePickerController.create();
  });
"  
%>
