<div id="account-setting-content" class="makeScroll">
  <%= render :partial => 'personal_info_form', :locals => {:address_book => @settings.address_book, :completed_steps => @completed_steps, :setup => false} %>
</div>
<% javascript "timezone_detector" %>
<%= javascript_tag "
  calculate_time_zone('address_book_timezone');
  resetDinamycHeight('account-setting-content');
  datePickerController.create();"  
%>
