#security_info.textarea7
  %br
  %a{:href => '#', :onclick => "$('security_text').toggle(); return false;"}
    Storage &amp; Security Details
  #security_text{:style => style_hidden_if(local_assigns.has_key?(:closed))}
    %li Eternos uses Amazon Web Services and relational databases on a secured network to store your data.  
    %li All of your data is encrypted using  Advanced Encryption Standard (AES) 256 bit symmetrical-key encryption.  
    %li As a member only you will have access to your  unencrypted data.  
    %li No Eternos employee, Amazon staff, or any affiliated personnel will be able to view or decrypt your backup data.  
    %li Your data  will be stored digitally in a secure facility for as long as you specify.
    %br
    #links
      = link_to 'Privacy Policy', '/about/privacy', :target => "_new", :style => "float: left"
      %a{:href => "#", :onclick => "$('security_text').hide(); return false;", :style => "float: right"} hide
  %br