<div id="account-setting-content">
  <div class="title3">Upgrades</div>
  <div class="textarea6">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac magna id erat interdum cursus. Curabitur nisi metus, rhoncus in mattis ac, mattis at orci. Cras placerat lectus in magna cursus dictum. Fusce lacinia feugiat ullamcorper. Aliquam et magna risus. Curabitur rhoncus nisl sit amet elit fringilla ut tincidunt justo imperdiet. Maecenas blandit, metus vitae luctus iaculis, leo nulla viverra sapien, in eleifend magna nibh sed metus. Morbi pharetra tempor erat, in aliquet quam ullamcorper a. In non nisl diam, ac pharetra purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae quam nulla. Proin viverra, tortor non sollicitudin pharetra, est diam varius sapien, congue placerat libero tortor ac sapien.

 </div>
</div>