- title 'Create a Recording'
- use_flash
- javascript 'backtothehtml', 'swfobject'

%p In order to record successfully and to get the highest quality recording please carefully follow the instructions below.
%br
%br
.clearboth
%strong Note: 
To save time, familiarize yourself with the recorder, and to ensure the recorder is working properly, it is best to record and playback a short practice recording prior to recording your lengthy content.
%br
%br
.clearboth
= render :partial => 'recorder'