- title 'Video Gallery'
- use_flashplayer

#videos
  %p Playlist
  #playlist
    - @web_videos.each do |vid|
      = render :partial => 'playlist', :locals => {:video => vid}

  #player.player.plain.medium{:style=>"float:right;display: none"}
    /= image_tag 'play_large.png'

:javascript
  var p = create_flowplayer('player').playlist('#playlist', {loop:true});
  jQuery('#playlist a').click(function() { jQuery('#player').show(); return true;});