<div class="myBox box01">
  <h2>Sign up Today!</h2>
  <p>Ensuring your data is safely archived takes
  minutes to setup and is totally risk-free!</p>
  		<p class="spacer03">&nbsp;</p>
  <p>
    <a href="<%= new_account_registration_path %>" id="yellow-button2">Sign Up Now</a> 
  </p>
</div>