<fieldset class="sub-header">
	<p class="flash"><img src="/images/vault/flash.jpg" /></p>
	<h2>More then just an Online Back Up Solution than Meets the Eye.</h2>
	<p>Your company has important data locked up in cloud-based applications. <br />Backupify provides daily automatic backups, archiving, and export for all<br /> your social media and SaaS data.</p>
	<p>
		<a href="/accounts" id="yellow-button">Sign Up Now</a>
		<a href="https://www.mcafeesecure.com/RatingVerify?ref=beta.eternos.com" target="_blank"><img width="115" height="32" border="0" oncontextmenu="alert('Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.'); return false;" alt="McAfee Secure sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" src="http://images.scanalert.com/meter/beta.eternos.com/12.gif"></a><br />
	<em><a href="getting-started.html">See personal account options</a></em></p>
</fieldset>

<fieldset class="content">
	<h3 class="myBox h3link"><a href="signup.html">30 day free trial - no credit cards required - sign up in 60 seconds!</a></h3>
	
    <div class="myBox box01">
		<h2>Quick Simple Backup</h2>
		<ul>
			<li><img src="/images/vault/icon-facebook.gif" /> <a href="#">Facebook</a> <small>(status, comments, notes, media)</small></li>
			<li><img src="/images/vault/icon-twitter.gif" /> <a href="#">Twitter</a></li>
			<li><img src="/images/vault/icon-rss.gif" /> <a href="#">RSS Feeds</a> <small>(any blog/feed)</small></li>
			<li><img src="/images/vault/icon-picasa.gif" /> <a href="#">Picasa</a></li>
			<li><img src="/images/vault/icon-gmail.gif" /> <a href="#">Gmail</a> <small>(including Gmail for business)</small></li>		
		</ul>
		<p class="spacer01">&nbsp;</p>
		<p><a href="#">View All Serivces In Details</a></p>
    </div>
    <div class="myBox box01 mid">	
		<h2>About  sync.eternos</h2>
		<p>Sync.eternos.com is an e-discovery, legal, and regulatory archiving compliance solution. we archive customer facing social media channels.</p>
		<p class="spacer02">&nbsp;</p>
		<p><a href="signup.html">Learn More About Sync &amp; Eternos</a></p>
	</div>
    <div class="myBox box01">
		<h2>Sign up Today!</h2>
		<p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when</p>
		<p class="spacer03">&nbsp;</p>
		<p><a href="/accounts" id="yellow-button2">Sign Up Now</a> <a href="#">See personal account options</a></p>
	</div>
	<p class="protect">
		<strong>PROTECT YOUR DATA</strong> - Backupify utilizes the Amazon Web Services infrastructure. <em>Amazon S3 redundantly stores your objects on multiple devices across multiple facilities in an Amazon S3 Region. The service is <strong>designed to sustain concurrent device failures</strong> by quickly detecting and repairing any lost redundancy.</em> 
	</p>		
</fieldset>
