<% cache "home_services" do %>
<div class="content">	
  <%= render :partial => 'signup_today_box' %>
	<div class="content-box services">
		<h1>Vault Services</h1>
		<p><%= image_tag "vault/services.jpg" %></p>
    <p>
      <span class="subtitle">
Eternos Vault offers a full slate of archiving services for the leading social media and
web-based mail servers, including:
</p>

		<ul class="service-ul">
  		  <li>
  		    <img src="/images/vault/icon-gmail.gif" /> 
          <div>
          <strong>Gmail</strong>: All content encrypted in storage, including Gmail for Google Apps.
          </div>
  		  </li>	
  		  <li>
  		    <%= image_tag "icon-linkedin-small.png" %>
  		    <div>
  		      <strong>Linkedin</strong>: Comprehensive backup of profile, connections, and followed company status changes.
  		    </div>
  		  </li>	
  			<li>
  			  <img src="/images/vault/icon-facebook.gif" /> 
  			  <div>
          <strong>Facebook</strong>: Full archiving of all activity, including mail and pages.
          </div>
  			</li>
  			<li>
  			  <img src="/images/vault/icon-twitter.gif" /> 
  			  <div>
          <strong>Twitter</strong>: Full archiving of all tweets.
          </div>
  			</li>
  			<li>
  			  <img src="/images/vault/icon-rss.gif" /> 
  		    <div>
            <strong>RSS Feeds</strong>: Full archiving of all content from blogs and feeds, including full-page
screenshots.
          </div>
  			</li>
        <li><em>
        Your unified archive (excluding Gmail*) is searchable, and we'll email
        you a zip file of your archive upon request.
        </em>
        </li>
  	</ul>

		<p>&nbsp;</p>
	</div>
</div>
<% end %>
