<% cache "home_services" do %>
<div class="content">	
  <%= render :partial => 'signup_today_box' %>
	<div class="content-box services">
		<h1>Vault Services</h1>
		<p><%= image_tag "vault/services.jpg" %></p>
    <p>
      <span class="subtitle">
Eternos Vault offers a full slate of archiving services for the leading social media and
web-based mail servers, including:
</p>

		<ul class="service-ul">
  		  <li><img src="/images/vault/icon-gmail.gif" /> 
  		    <ul>
<strong>Gmail</strong>: All content encrypted in storage, including Gmail for Google Apps.
  		    </ul>
  		  </li>		
  			<li><img src="/images/vault/icon-facebook.gif" /> 
          <ul>
          <strong>Facebook</strong>: Full archiving of all activity, including mail, status updates, posts on other
          walls, comments, media, profile and friends.
          </ul>
  			</li>
  			<li><img src="/images/vault/icon-twitter.gif" /> 
  			  <ul>
<strong>Twitter</strong>: Full archiving of all tweets.
          </ul>
  			</li>
  			<li><img src="/images/vault/icon-rss.gif" /> 
  		    <ul>
<strong>RSS Feeds</strong>: Full archiving of all content from blogs and feeds, including full-page
screenshots.
  		    </ul>
  			</li>
        <li>
        All your archived content (excluding Gmail) is searchable with Eternos Vault, and you

        can download material any time you like.
        </li>
  	</ul>

		<p>&nbsp;</p>
	</div>
</div>
<% end %>
