<fieldset class="sub-header">
	<p class="flash"><img src="/images/vault/flash.jpg" /></p>
	<h2>SECURE AUTOMATED ARCHIVING
  OF GMAIL AND YOUR SOCIAL WEB
  PRESENCE</h2>
  <p>
  Facebook, Linkedin, Twitter, and Gmail
  archiving for compliance, eDiscovery,
  & data control
  </p>
  <!--
	<p>
		<a href="<%= new_account_registration_path %>" id="yellow-button">Sign Up Now</a>
		<a href="https://www.mcafeesecure.com/RatingVerify?ref=beta.eternos.com" target="_blank"><img width="115" height="32" border="0" oncontextmenu="alert('Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.'); return false;" alt="McAfee Secure sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" src="http://images.scanalert.com/meter/beta.eternos.com/12.gif"></a><br />
	<em><a href="getting-started.html">See personal account options (what will this do?)</a></em></p>
	  -->
</fieldset>
<fieldset class="content">
	<h3 class="myBox h3link"><a href="<% new_account_registration_path %>">30 day free trial - no credit cards required - sign up in 60 seconds!</a></h3>
	
    <div class="myBox box01">
		<h2>Quick Simple Backup</h2>
		<ul>
		  <li><img src="/images/vault/icon-gmail.gif" /> <a href="#">Gmail</a> <small>(including Gmail for business)</small></li>		
			<li><img src="/images/vault/icon-facebook.gif" /> <a href="#">Facebook</a> <small>(status, comments, notes, media)</small></li>
			<li><img src="/images/vault/icon-twitter.gif" /> <a href="#">Twitter</a></li>
			<li><img src="/images/vault/icon-rss.gif" /> <a href="#">RSS Feeds</a> <small>(any blog/feed)</small></li>
		</ul>
		<p class="spacer01">&nbsp;</p>
		<p><a href="#">View All Services In Details</a></p>
    </div>
    <div class="myBox box01 mid">	
		<h2>About vault.eternos</h2>
		<p>Eternos Vault is a SAAS (software as a service)
    social web archiving application. Businesses and
    indiviuals alike have their hands full staying on
    top of an ever-expanding portfolio of social web
    accounts. If you're in a regulated industry Vault
    is a major part of ensuring compliance with
    FINRA, SEC, IIROC, and FSA archiving requirements.
    Both social networking pros and beginners can rest
    easy knowing their data is safe and secure on Vault.
    </p>
		<p class="spacer02">&nbsp;</p>
		<p><a href="<%= new_account_registration_path %>">Learn More About Vault
		 &amp; Eternos</a></p>
	</div>
  <%= render :partial => 'signup_today_box' %>
	<p class="protect">
    SECURITY / STORAGE COPY 
	</p>		
</fieldset>
