<fieldset class="content">
	
  <%= render :partial => 'signup_today_box' %>
	<div class="content-box">
		<h1>Why choose vault</h1>
		<p><img src="/images/vault/why.jpg" /></p>
		<h3>Vault.eternos.com Summary</h3>
		<p>Eternos Vault is a SAAS (software as a service)
    social web archiving application. Businesses and
    indiviuals alike have their hands full staying on
    top of an ever-expanding portfolio of social web
    accounts. If you're in a regulated industry Vault
    is a major part of ensuring compliance with
    FINRA, SEC, IIROC, and FSA archiving requirements.
    Both social networking pros and beginners can rest
    easy knowing their data is safe and secure on Vault.</p>
		<h3>How it works</h3>
		<p><img src="/images/vault/how-it-works.gif" align="left" class="content-box-IMG" /> 
    Copy needed here
		</p>
		<p>&nbsp;</p>
	</div>

	<p class="protect">
		Copy needed here...
	</p>		
</fieldset>