<% cache "home_why" do %>
<fieldset class="content">
	
  <%= render :partial => 'signup_today_box' %>
	<div class="content-box about-why">
		<h1>Why Vault is the right archiving solution for your business</h1>
		<p><img src="/images/vault/why.jpg" /></p>
		<ul class="why-vault-list">
	  	<li>
        <p>Data control for Facebook, Twitter, and Linkedin</p>
      </li>
      <li><p>Vault takes the time and expense out of eDiscovery management</p></li>
      <li><p>FINRA, SEC, FSA, IIROC, FDA archiving compliance made easy..</p></li>
    </ul>
		<h3>How it works</h3>
		<p><img src="/images/vault/how-it-works.gif" align="left" class="content-box-IMG" /> 
    <ol class="how-list">
      <li>Sign up and add credentials for sites to backup</li>
      <li>Eternos backs up all data at regular intervals</li>
      <li>Login to review data by date / keywords</li>
      <li>All data available for download or on DVD by mail</li>
    </ul>
		</p>
		<p>&nbsp;</p>
	</div>

	<p class="protect">
	  So secure!
	</p>		
</fieldset>
<% end %>