/* fix for timeline.css */
#my-timeline {
border:1px solid #AAAAAA;
height:300px;
width: 720px;
}

.timelinebox {
	clear: both; 
	float: none;
	height:auto;
	padding:10px 0;
	width:722px;
}

.timeline-ether-bg .timeline-ether-highlight { background: url(/images/bg-scroll.gif) no-repeat top center;}

/* Fix for life key trustees tables */
#table .header { height: auto; border-bottom: none; width: 428px;}
#table .title { width: 406px;}
#table .footer { width: 428px; border-top: none; height: auto; padding-top: 0px; margin-bottom: 5px;}
form.trustee_form { margin-bottom: 10px;}

