<%= render :partial => 'account_settings/backup_sources', :locals => {:settings => @settings, :completed_steps => @completed_steps, :setup => true} %>
<p>&nbsp;</p>
<% form_tag url_for(:controller => 'account_setup', :action => 'show', :step => 2) do %>
  <input type="submit" value="Save & Continue"/>
<% end %>
<!-- Google Website Optimizer Conversion Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("UA-20211648-1");
gwoTracker._trackPageview("/3026038930/goal");
}catch(err){}</script>
<!-- End of Google Website Optimizer Conversion Script -->