<%= render :partial => 'account_settings/backup_sources', :locals => {:settings => @settings, :completed_steps => @completed_steps, :setup => true} %>
<p>&nbsp;</p>
<% form_tag account_setup_path(:step => 2) do %>
  <input type="submit" value="Save & Continue" /></p>			
<% end %>
