%h1 Please help Eternos grow ... invite your friends & family.
#notice.flash_notice
- 4.times do
  %p
    <input type="text" size="30">

%p &nbsp
- form_tag account_setup_path(:step => 3) do
  <input type="submit" value="You're Done!" />
