#security_info.textarea7
  %br
  %a{:href => '#', :onclick => "$('security_text').show(); return false;"}
    Storage &amp; Security Details
  #security_text{:style => "display: none;"}
    %li - Eternos uses Amazon Web Services and relational databases on a secured network to store your data.  
    %li - All of your data is encrypted as soon as it is saved using  American Encryption Standard (AES) 256 bit symmetrical encryption.  
    %li - As a member only you will have access to your  unencrypted data.  
    %li - No Eternos employee, Amazon staff, or any affiliated personnel will be able to view or decrypt your backup data.  
    %li - Your data  will be stored digitally in a secure facility for as long as you specify.
    %br
    = link_to 'Full Security Policy', '#'
    %br
    %a{:href => "#", :onclick => "$('security_text').hide(); return false;"} hide info
