- use_calendar
- title 'Account Setup'
  
.acc-setup-container
  .acc-setup-top
  .acc-setup-body
    .top-box
      .clear
      .top-box2
        #account-setting-title.acc-title
          Account Setup
        .top-rightbox
          
        .clear
    .popup-content-left
      = render :partial => "setting_nav", :locals => { :active_link => "step" + @active_step.to_s }
    
    /- Bad things happen if we use .popup-content-right
    .pop-content-right
      %center
        = image_tag 'progress-bar.gif', {:style => "display:none", :id => 'progress-bar'}
      = render :partial => @content_page, :locals => {:settings => @settings}
      
    .clear
  .acc-setup-down