- use_calendar
- title 'Account Setup'
  
.content.login1
  %fieldset
    .login1_left
      %h1 Account Setup
      %ul.signup-left
        %li.signup-active
          %strong Step 1
          %br
          %span Online Accounts
        %li.signup-inactive
          %strong Step 2
          %br
          %span Life Key or Invite Friends??
          
    .login1_right.login1-mid.login2-mid
      = render :partial => @content_page, :locals => {:settings => @settings}
      