#search-result.search_result[object]
  #result-main.res_text[object]
    .res_title
      = image_tag(search_icon(object), :width => 20, :height => 20)
      %strong= search_title_text(object)
    .res_body
      = search_summary(object)
      %br
      %span.posted= search_date(object)
  .clearboth
  #full_view.res_full[object]
  %br
.result_sep