#search-result.search_result[object]
  #result-main.res_text[object]
    .res_title
      = image_tag(search_icon(object), :width => 20, :height => 20)
      = search_title(object)
    .res_body
      - desc = search_summary(object)
      - unless desc.blank?
        = desc
        %br
      %span.posted= search_date(object)
  .clearboth
  #full_view.res_full[object]
  %br
.result_sep