- unless @search_terms.empty?
  #search-results-header
    .results-title
      %strong== Search results for '#{@search_terms}'
    .results-stats
      %strong= pluralize(@results.size, 'hit')
    %p
#results-config
.search-results
  - if @results.any?
    = render :partial => 'search_item', :collection => @results.compact
  - else
    No data found
#search-results-footer
