<% title "Edit Facebook Activity Stream Item" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @facebook_activity_stream_item %> |
  <%= link_to "View All", facebook_activity_stream_items_path %>
</p>
