/* CSS Document */

/*general--------------------------------------------------------------------------------------------------------------------------*/

/* I'm not seeing inheritance being used...am I wrong? */
/* What's up with the weird naming?  More descriptive class names than col1, col2, ... col10 would help */

body{
	margin:0;
	padding:0;
}

.twitter-box{
	width:451px;
	height: auto;
	background:url(/images/errors/fb-box.gif) repeat-y;
	padding:20px 0 0px 0;
}

.rss-box{
	width:451px;
	height:50px;
	background:url(/images/errors/fb-box.gif) repeat-y;
	padding:20px 0 0px 0;
}

.table-form5{
	width:402px;
	height:auto;
	border:none;
	font-family:arial;
	font-size:11px;
	color:#393b3e;
	text-align:left;
	margin-left:50px;
}

#process_message{
  padding: 4px 0 4px 5px;
  font-size: 14px;
  margin: 8px 0 0 20px;
  width: 500px;
}

#topbar{
	width:875px;
	height:35px;
	background:white url(/images/errors/body-top.png) no-repeat;
	padding:15px 0 0 15px;
}

#content-container{
	background:url(/images/errors/body.png) repeat-y;
	width:860px;
	height:auto;
	border-top:#b4becc solid 1px;
	padding:15px;
}

#content-container2{
	background:url(/images/errors/body.png) repeat-y;
	width:860px;
	height:auto;
	padding:0 15px 0 20px;
}

.title1{
	font-family:arial;
	font-size:25px;
	color:#02419e;
}

.table{
	border:none;
	padding:0;
	margin:0;
	width:860px;
	height:auto;
}

.col1{
	width:160px;
	text-align:left;
}

.col2{
	width:2px;
	height:auto;
	background:url(/images/errors/borderv.gif) repeat-y;
}

.col3{
	width:678px;
	height:auto;
	text-align:justify;
	padding:0 5px 0 15px;
}

.link-category{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#02419e;
	margin-bottom:5px;
}

.navbtn1{
	width:150px;
	height:17px;
	background:url(/images/errors/navbtn.gif) 0 17px;
	display:block;
	font-family:arial;
	font-size:11px;
	color:#636972;
	text-decoration:none;
	border:none;
	text-align:left;
	padding-left:10px;
	margin-bottom:5px;
}

.navbtn1:hover{
	background:url(/images/errors/navbtn.gif) 0 0;
	color:#2ea4ff;
}

.title4{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#404142;
}

.title6{
	width:380px;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#404142;
	float:left;
}

.blue-btn3{
	font-family:arial;
	font-size:11px;
	color:#407ddf;
	margin: 0 5px 0 0;
	text-decoration:none;
	float:right;
}

.blue-btn4, .editor_cancel_link{
	font-family:arial;
	font-size:11px;
	color:#407ddf;
	margin: 0 5px 0 0;
	text-decoration:none;
}

.editor_cancel_link{
	font-family:arial;
	font-size:11px;
	color:#407ddf;
	margin: 0 5px 0 0;
	text-decoration:none;
}

.blue-btn4:hover{
	text-decoration:underline;
}

.editor_cancel_link:hover{
	text-decoration:underline;
}

.subtitle1{
	font-family:arial;
	font-size:18px;
	color:#636972;
}

.subtitle2{
	font-family:arial;
	font-size:18px;
	color:#02419e;
	margin:0 5px 0 5px;
}

.subtitle3{
	font-family:arial;
	font-size:14px;
	color:#02419e;
	margin:20px 0 0 0;
}

.subtitle4{
	font-family:arial;
	font-size:14px;
	color:#636972;
	margin:20px 5px 0 0;
}

.subtitle5{
	font-family:arial;
	font-size:14px;
	color:#02419e;
	margin-left:5px;
	float:left;
}


.nametext1{
	font-family:arial;
	font-size:11px;
	color:#2ea4ff;
	margin:10px 0 10px 0;
	font-style:italic;
}


.textarea1{
	width:668px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	text-align:justify;
	line-height:20px;
}

.textarea2{
	width:618px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	float:left;
}

.textarea3{
	width:555px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.textarea4{
	width:325px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.textarea5{
	width:305px;
	height:auto;
	margin-left:15px;
	font-family:arial;
	font-size:11px;
	color:#636972;
}

.textarea6{
	width:445px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	border-top:1px solid #393b3e;
	margin:10px 0 0 20px;
	padding-top:10px;
}

.textarea7{
	width:428px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#33373f;
	text-align:justify;
	margin-bottom:5px;
}

.bluetext{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#02419e;
}

.list1{
	width:668px;
	height:auto;
	margin-top:20px;
	margin-left:30px;
}

.list2{
	width:668px;
	height:auto;
	margin-top:20px;
}

.dot{
	width:10px;
	height:10px;
	float:left;
	margin:2px 10px 0 0;
}

.dot2{
	width:10px;
	height:10px;
	float:left;
	margin-top:5px;
}

.pic1{
	width:103px;
	height:90px;
	margin:5px 10px 0 0;
	float:left;
}

.map1{
	width:318px;
	height:261px;
	margin-left:20px;
	float:left;
}

.im{
	width:340px;
	height:52px;
	background:url(/images/errors/imbtn.jpg) 0 0;
	display:block;
	border:none;
	margin-top:37px;
}

.im:hover{
	background:url(/images/errors/imbtn.jpg) 0 52px;
}

.popup-container{
	width:650px;
	height:auto;
	margin-top:20px;
  padding: 0 0 0 100px;
}

.acc-setup-container {
	width: 650px;
	height:auto;
	margin-top:20px;
  padding: 0 0 0 30px;
}

.popuptop{
	width:650px;
	height:11px;
	background:url('/images/errors/popup-top.png') transparent no-repeat;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/errors/popup-top.png',sizingMethod='scale');
}

.popup-content{
	width:650px;
	height:auto;
	background:url('/images/errors/popup-content.png') repeat-y;
	margin:0;
	padding:0;
}

.top-box{
	width:645px;
	height:auto;
	margin:0;
}

.stop-btn{
	width:80px;
	height:36px;
	display:block;
	margin-top:-25px;
	background:url(/images/errors/save-btn.png) 0 0;
	float:right;
}

.stop-btn:hover{
	background:url(/images/errors/save-btn.png) 0 36px;
}


.acc-title{
	width:300px;
	height:auto;
	font-family:arial;
	font-size:20px;
	color:#02419e;
	padding:0;
	float:left;
}

.top-box2{
	width:595px;
	height:auto;
	margin:0 0 0 13px;
	padding:0 0 0 5px;
	border-bottom:1px solid #393b3e;
}

.top-rightbox{
	width: 450px;
	height:auto;
	font-family:arial;
	font-size:10px;
	color:#393b3e;
	text-align:right;
	margin:0;
	float:left;
}

.fb-btn {
	width:134px;
	height:21px;
	background:url(/images/errors/fb-btn.png) 0 0;
	border:none;
	display:block;
	float:right;
}

.fb-btn:hover {
	background:url(/images/errors/fb-btn.png) 0 21px;
}

.right{	float:right;}

.left {
	float:left; 
	/*margin:5px 0 5px 5px;*/
}

.left2{float:left; margin:5px 0 5px 20px;}

.top-text1{
	margin-top:5px;
	float:right
}

.top-text2{
	margin-top:6px;
	float:left
}

.birthdate-box{
	margin:5px;
}

.popup-content-left{
	width:141px;
	height:auto;
	margin:10px 0 0 4px;
	float:left;
}

.popup-content-right{
	width:481px;
	height:auto;
	margin:10px 0 0 0;
	float:left;
}

.network-icon-box{
	width: 500px; /* 481px; */
	height:80px;
	margin:10px 0 0 0;
}

.network-popup-box{
	width:481px;
	height:40px;
	margin:5px 0 0 0;
}

.network-login-box{
	width:431px;
	height:auto;
	margin:5px 0 0 0;
	padding-left:7px;
}

.network-box{
	width:451px;
	height:auto;
	background:url(/images/errors/fb-box.gif) repeat-y;
	padding-top:10px;
	margin-bottom:-15px;
}

a.fb-btn2{
	width:77px;
	height:77px;
	background:url(/images/errors/fb-btn2.gif) 0 0;
	margin:0 5px 5px 5px;
	float:left;
}

a.fb-btn2:hover{
	background:url(/images/errors/fb-btn2.gif) 0 77px;
}

a.twitter-btn{
	width:165px;
	height:47px;
	background:url(/images/errors/twitter-btn.gif) 0 0;
	margin:20px 0 0 5px;
	float:left;
}

a.twitter-btn:hover{
	background:url(/images/errors/twitter-btn.gif) 0 47px;
}

a.rss-btn{
	width:77px;
	height:77px;
	background:url(/images/errors/rss-btn.gif) 0 0;
	margin:0 5px 0 0;
	float:left;
}

a.rss-btn:hover{
	background:url(/images/errors/rss-btn.gif) 0 77px;
}

a.gmail-btn{
	width:97px;
	height:79px;
	background:url(/images/errors/gmail-btn.gif) center 0;
	margin:0 5px 0 0;
	float:left;
}

a.gmail-btn:hover{
	background:url(/images/errors/gmail-btn.gif) 0 79px;
}

a.flickr-btn{
	width:130px;
	height:47px;
	background:url(/images/errors/flickr-btn.gif) 0 0;
	margin:20px 5px 0 5px;
	float:left;
}

a.flickr-btn:hover{
	background:url(/images/errors/flickr-btn.gif) 0 47px;
}

a.picasa-btn{
	width:97px;
	height:79px;
	background:url(/images/picasa-btn.gif) center 0;
	margin:0 5px 0 0;
	float:left;
}

a.picasa-btn:hover{
	background:url(/images/picasa-btn.gif) 0 79px;
}

.fb-active{width:77px; height:98px; background:url(/images/errors/fb-active.gif); float:left;margin:0 10px 0 20px}
.twitter-active{width:165px; height:94px; background:url(/images/errors/twitter-active.gif); float:left;margin:0 ;}
.flickr-active{width:175px; height:52px; background:url(/images/errors/flickr-active.gif); float:left;margin:0 10px 0 10px}
.rss-active{width:77px; height:100px; background:url(/images/errors/rss-active.gif); float:left;margin:0 10px 0 10px}
.gmail-active{width:110px; height:102px; background:url(/images/errors/gmail-active.gif); float:left;margin:0 10px 0 10px}
.picasa-active{width:110px; height:102px; background:url(/images/picasa-active.gif); float:left;margin:0 10px 0 10px}

.add-account-blurb {
	margin: 0 0 5px 0;
}

.submit-btn{
	width:98px;
	height:22px;
	display:block;
	text-align:center;
	font-family:arial;
	font-weight:bold;
	color:white;
	text-decoration:none;
	border:none;
	font-size:11px;
	margin-right:-5px;
	background:url(/images/errors/submit-btn.gif) 0 0;
}

.submit-btn:hover{
	background:url(/images/errors/submit-btn.gif) 0 22px;
}

.submit-btn2{
	width:84px;
	height:20px;
	display:block;
	margin:5px;
	background:url(/images/submit3.gif) 0 0;
}

.submit-btn2:hover{
	color:white;
	background:url(/images/submit3.gif) 0 20px;
}

.submit-btn3{
	width:84px;
	height:20px;
	display:block;
	text-align:center;
	font-family:arial;
	color:black;
	text-decoration:none;
	border:none;
    float:left;
	font-size:11px;
	margin:8px 5px 0 10px; 
	background:url(/images/submit2.gif) 0 0;
}

.submit-btn3:hover{
	color:white;
	background:url(/images/submit2.gif) 0 20px;
}

.submit-btn5{
	width:84px;
	height:20px;
	display:block;
	text-align:center;
	font-family:arial;
	color:black;
	text-decoration:none;
	border:none;
	font-size:11px;
	margin:8px 5px 2px 10px; 
	background:url(/images/submit2.gif) 0 0;
}

.submit-btn5:hover{
	color:white;
	background:url(/images/submit2.gif) 0 20px;
}


.submit-btn4{
	width:98px;
	height:22px;
	display:block;
	text-align:center;
	font-family:arial;
	font-weight:bold;
	color:white;
	text-decoration:none;
	border:none;
	font-size:11px;
	margin:2px 0 0 5px;
	background:url(/images/errors/submit-btn.gif) 0 0;
	float:left;
}

.submit-btn4:hover{
	background:url(/images/errors/submit-btn.gif) 0 22px;
}


/*step button---------------------------------------------------------------------------------------------------------------*/

a.step1-btn{width:140px;height:43px;background:url(/images/errors/step1.png) 0 0;display:block;margin-bottom:15px;}
a.step1-btn:hover{background:url(/images/errors/step1.png) 0 43px;}

a.step1-1-btn{width:140px;height:43px;background:url(/images/errors/step1-1.png) 0 0;display:block;margin-bottom:15px;}
a.step1-1-btn:hover{background:url(/images/errors/step1-1.png) 0 43px;}

a.step2-btn{width:140px;height:43px;background:url(/images/errors/step2.png) 0 0;display:block;margin-bottom:15px;}
a.step2-btn:hover{background:url(/images/errors/step2.png) 0 43px;}

a.step2-1-btn{width:140px;height:43px;background:url(/images/errors/step2-1.png) 0 0;display:block;margin-bottom:15px;}
a.step2-1-btn:hover{background:url(/images/errors/step2-1.png) 0 43px;}

a.step3-btn{width:140px;height:43px;background:url(/images/errors/step3.png) 0 0;display:block;margin-bottom:15px;}
a.step3-btn:hover{background:url(/images/errors/step3.png) 0 43px;}

a.step4-btn{width:140px;height:43px;background:url(/images/errors/step4.png) 0 0;display:block;margin-bottom:15px;}
a.step4-btn:hover{background:url(/images/errors/step4.png) 0 43px;}

a.step4-1-btn{width:140px;height:43px;background:url(/images/errors/step4-1.png) 0 0;display:block;margin-bottom:15px;}
a.step4-1-btn:hover{background:url(/images/errors/step4-1.png) 0 43px;}

a.step5-btn{width:140px;height:43px;background:url(/images/errors/step5.png) 0 0;display:block;margin-bottom:15px;}
a.step5-btn:hover{background:url(/images/errors/step5.png) 0 43px;}

a.step6-btn{width:140px;height:43px;background:url(/images/errors/step6.png) 0 0;display:block;margin-bottom:15px;}
a.step6-btn:hover{background:url(/images/errors/step6.png) 0 43px;}

a.stepcomplete-btn{width:140px;height:69px;background:url(/images/errors/step-complete.png) 0 0;display:block;margin-bottom:15px;}
a.stepcomplete-btn:hover{background:url(/images/errors/step-complete.png) 0 -69px;}

/*complete step button------------------------------------------------------------------------------------------------------*/

a.step1complete-btn{width:140px;height:43px;background:url(/images/errors/step1-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step1complete-btn:hover{background:url(/images/errors/step1-complete.png) 0 43px;}

a.step1-1complete-btn{width:140px;height:43px;background:url(/images/errors/step1-1-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step1-1complete-btn:hover{background:url(/images/errors/step1-1-complete.png) 0 43px;}

a.step2complete-btn{width:140px;height:43px;background:url(/images/errors/step2-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step2complete-btn:hover{background:url(/images/errors/step2-complete.png) 0 43px;}

a.step2-1complete-btn{width:140px;height:43px;background:url(/images/errors/step2-1-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step2-1complete-btn:hover{background:url(/images/errors/step2-1-complete.png) 0 43px;}

a.step3complete-btn{width:140px;height:43px;background:url(/images/errors/step3-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step3complete-btn:hover{background:url(/images/errors/step3-complete.png) 0 43px;}

a.step4complete-btn{width:140px;height:43px;background:url(/images/errors/step4-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step4complete-btn:hover{background:url(/images/errors/step4-complete.png) 0 43px;}

a.step4-1complete-btn{width:140px;height:43px;background:url(/images/errors/step4-1-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step4-1complete-btn:hover{background:url(/images/errors/step4-1-complete.png) 0 43px;}

a.step5complete-btn{width:140px;height:43px;background:url(/images/errors/step5-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step5complete-btn:hover{background:url(/images/errors/step5-complete.png) 0 43px;}

a.step6complete-btn{width:140px;height:43px;background:url(/images/errors/step6-complete.png) 0 0;display:block;margin-bottom:15px;}
a.step6complete-btn:hover{background:url(/images/errors/step6-complete.png) 0 43px;}

/*incomplete step button----------------------------------------------------------------------------------------------------*/

a.step1incomplete-btn{width:140px;height:43px;background:url(/images/errors/step1-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step1incomplete-btn:hover{background:url(/images/errors/step1-incomplete.png) 0 43px;}

a.step1-1incomplete-btn{width:140px;height:43px;background:url(/images/errors/step1-1-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step1-1incomplete-btn:hover{background:url(/images/errors/step1-1-incomplete.png) 0 43px;}

a.step2incomplete-btn{width:140px;height:43px;background:url(/images/errors/step2-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step2incomplete-btn:hover{background:url(/images/errors/step2-incomplete.png) 0 43px;}

a.step2-1incomplete-btn{width:140px;height:43px;background:url(/images/errors/step2-1-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step2-1incomplete-btn:hover{background:url(/images/errors/step2-1-incomplete.png) 0 43px;}

a.step3incomplete-btn{width:140px;height:43px;background:url(/images/errors/step3-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step3incomplete-btn:hover{background:url(/images/errors/step3-incomplete.png) 0 43px;}

a.step4incomplete-btn{width:140px;height:43px;background:url(/images/errors/step4-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step4incomplete-btn:hover{background:url(/images/errors/step4-incomplete.png) 0 43px;}

a.step4-1incomplete-btn{width:140px;height:43px;background:url(/images/errors/step4-1-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step4-1incomplete-btn:hover{background:url(/images/errors/step4-1-incomplete.png) 0 43px;}

a.step5incomplete-btn{width:140px;height:43px;background:url(/images/errors/step5-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step5incomplete-btn:hover{background:url(/images/errors/step5-incomplete.png) 0 43px;}

a.step6incomplete-btn{width:140px;height:43px;background:url(/images/errors/step6-incomplete.png) 0 0;display:block;margin-bottom:15px;}
a.step6incomplete-btn:hover{background:url(/images/errors/step6-incomplete.png) 0 43px;}

.step1-active{width:140px;height:43px;background:url(/images/errors/step1.png) 0 43px;display:block;margin-bottom:15px;}
.step1-1-active{width:140px;height:43px;background:url(/images/errors/step1-1.png) 0 43px;display:block;margin-bottom:15px;}
.step2-active{width:140px;height:43px;background:url(/images/errors/step2.png) 0 43px;display:block;margin-bottom:15px;}
.step2-1-active{width:140px;height:43px;background:url(/images/errors/step2-1.png) 0 43px;display:block;margin-bottom:15px;}
.step3-active{width:140px;height:43px;background:url(/images/errors/step3.png) 0 43px;display:block;margin-bottom:15px;}
.step4-active{width:140px;height:43px;background:url(/images/errors/step4.png) 0 43px;display:block;margin-bottom:15px;}
.step4-1-active{width:140px;height:43px;background:url(/images/errors/step4-1.png) 0 43px;display:block;margin-bottom:15px;}
.step5-active{width:140px;height:43px;background:url(/images/errors/step5.png) 0 43px;display:block;margin-bottom:15px;}
.step6-active{width:140px;height:43px;background:url(/images/errors/step6.png) 0 43px;display:block;margin-bottom:15px;}

.table-form1{
	width:450px;
	height:auto;
	border:none;
	font-family:arial;
	font-size:11px;
	color:#393b3e;
	text-align:left;
	margin:0 20px 0 20px;
}

.table-form2{
	width:330px;
	height:auto;
	border:none;
	font-family:arial;
	font-size:11px;
	color:#393b3e;
	text-align:left;
	margin-left:20px;
}

.table-form3{
	width:440px;
	height:auto;
	margin-top:0    ;
}

.table-form4{
	width:440px;
	height:auto;
	border:none;
	font-family:arial;
	font-size:11px;
	color:#393b3e;
	text-align:left;
	margin:0 20px 0 10px;
}

.table-form6{
	width:446px;
	height:auto;
	border:solid 2px #8bcdff;
	margin-top:10px;
}

.table-form7{
	width:446px;
	height:auto;
	border:solid 2px #ff984e;
	margin-top:5px;
}

.table-form8{
	width:446px;
	height:auto;
	border:solid 2px #b3ecef;
	margin-top:5px;
}

.table1{
	width:440px;
	height:auto;
	background:#e0ecff;
	border:solid 2px #6694e3;
}

.titlebox1{
	width:100%;
	height:20px;
	font-family:arial;
	font-size:12px;
	color:white;
	font-weight:bold;
	padding:2px 0 0 5px;
	background:#6694e3;
}

.popup-newbox{
	width:425px;
	height:auto;
	border:none;
	font-family:arial;
	font-size:11px;
	color:#393b3e;
	text-align:left;
	background:#dde3eb;
	margin:10px 20px 0 10px;
	padding:10px 3px 10px 12px;
}

.error-message{
	width:440px;
	height:auto;
	border:none;
	font-family:arial;
	font-size:11px;
	color:#393b3e;
	text-align:left;
	margin:10px 20px 0 10px;
}

table.popup-newbox tr td {
	text-align:left;
	font-family:arial;
	font-size:11px;
	color:#393b3e;
	vertical-align:center;
}

.coll-form1{width:100px;}
.coll-form2{width:5px; text-align:left;font-family:arial;font-size:11px;color:#393b3e;}

.coll-form1b{width:100px; padding-top:5px; text-align:left;font-family:arial;font-size:11px;color:#393b3e;}
.coll-form2b{width:5px; padding-top:5px; text-align:left;font-family:arial;font-size:11px;color:#393b3e;}

.coll-form3{width:330px; text-align:left;font-family:arial;font-size:11px;color:#393b3e;}

.coll-form4{width:200px; text-align:right;font-family:arial;font-size:11px;color:#393b3e;}
.coll-form5{width:200px; text-align:left;font-family:arial;font-size:11px;color:#393b3e;}
.coll-form6{width:100px; text-align:left;font-family:arial;font-size:11px;color:#808080;}
.coll-form7{width:90px; height:30px; text-align:left;font-family:arial;font-size:11px;color:#393b3e;padding-left:65px;}
.coll-form8{width:30px; text-align:left;font-family:arial;font-size:11px;color:#393b3e;}
.coll-form9{width:400px; text-align:left;font-family:arial;font-size:11px;color:#808080;}

.coll-form10{width:120px; height:30px;text-align:center;font-family:arial;font-size:11px;color:white;border-bottom:1px dotted #353a3e}
.coll-form11{width:280px; height:30px;text-align:center;font-family:arial;font-size:11px;color:white;border-bottom:1px dotted #353a3e}
.coll-form12{width:120px; height:30px;text-align:center;font-family:arial;font-size:11px;color:#353a3e;border-bottom:1px dotted #353a3e}
.coll-form13{width:260px; height:30px;text-align:left;font-family:arial;font-size:11px;color:#353a3e;border-bottom:1px dotted #353a3e; padding-left:20px;}
.coll-form14{width:120px; height:30px;text-align:center;font-family:arial;font-size:11px;color:white;border-bottom:1px dotted #353a3e}
.coll-form15{width:120px; height:30px;text-align:center;font-family:arial;font-size:11px;color:#26787c;border-bottom:1px dotted #353a3e}

.textbox1{width:240px;height:20px;border:1px solid #898989; margin:2px 0 2px 0;}
.textbox2{width:50px;height:20px;border:1px solid #898989; margin:2px 0 2px 0;}
.textbox3{width:176px; height:20px ;margin:2px 0 2px 0;}
.textbox4{width:90px; height:20px;border:1px solid #898989; margin:2px 0 2px 0;}

/* this is all pretty f'd ... explicit styles for every form field??? */

#address_book_timezone{width:240px; height:20px;margin:2px 0 2px 0;font-family:arial;font-size:10.5px}
/*
#address_book_gender_male{margin:5px 3px 5px -1px;}
#address_book_gender_female{margin:5px 3px 5px 28px;}
#address_book_gender_transgender{margin:5px 3px 5px 28px;}
*/
#address_book_first_name{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#address_book_middle_name{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#address_book_last_name{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#address_book_name_suffix{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#address_book_name_title{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#profile_height{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#profile_weight{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#profile_race{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#profile_religion{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#profile_political_views{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#profile_sexual_orientation{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#address_book_website{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#address_book_ssn{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}


#nil_class_height{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#nil_class_weight{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#nil_class_race{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#nil_class_religion{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#nil_class_political_views{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}
#nil_class_sexual_orientation{width:235px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;margin:2px 0 2px 0;}

#backup_source_auth_login{width:200px; height:20px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;}
#backup_source_auth_password{width:200px; height:20px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;}
#feed_url_url{width:200px; height:18px;text-align:left;font-family:arial;font-size:11px;color:#393b3e;}

.selectbox-day{width:45px; height:20px;margin:2px 4px 2px 5px;}
.selectbox-month{width:60px; height:20px;margin:2px 6px 2px 7px;}
.selectbox-year{width:60px; height:20px;margin:2px 4px 2px 5px;}

.selectbox-type{width:85px; height:20px; margin:2px 3px 2px 5px;}

.textbox5{width:188px; height:20px;border:1px solid #898989;margin:2px 3px 2px 5px;}
.textbox6{width:175px;height:25px;border:1px solid #898989; margin:2px 0 2px 0; float:left;}
.textbox7{width:225px;height:22px;border:1px solid #898989; margin:2px 0 2px 0; float:left;}
.textbox8{width:188px; height:20px;margin:2px 3px 2px 5px;}
.textarea1{width:188px; height:100px;border:1px solid #898989; margin:2px 0 2px 5px;}


.title2{
	font-family:arial;
	font-size:14px;
	color:#404142;
	margin-top:10px;
  /*border: solid 4px #66CCFF;*/
}

.title3{
	font-family:arial;
	font-size:14px;
	color:#404142;
	margin:10px 0 0 20px;
}

.title5{
	font-family:arial;
	font-size:14px;
	color:#404142;
	margin-top:10px;
	width:240px;
	float:left;
}

.title7{
	font-family:arial;
	font-size:14px;
	color:#404142;
	margin:10px 0 0 0;
}

.add-btn-box{
	width:200px;
	float:left;
	margin-top:10px;
	text-align:right;
}

a.plusminus{
	width:7px;
	height:7px;
	background:url(/images/errors/plusminus.png) 0 0;
	display:block;
	float:left;
	margin-top:2px;
}

a.plusminus:hover{
	background:url(/images/errors/plusminus.png) 0 7px;
}

.line1{width:417px;float:left;margin-right:5px;}

.line2{width:100%;float:left;margin-right:5px;}

.line3{width:440px; height:1px; background:url(/images/dotted.gif) repeat-x; margin:0 0 0 10px;}

.notification-box1{
	width:665px;
	height:auto;
	font-family:arial;
	font-size:14px;
	color:#2c2c2c;
	text-align:left;
	padding-top:100px;
	line-height:40px;
}

.notification-box2{
	width:500px;
	height:auto;
	font-family:impact;
	font-size:16px;
	color:#2c2c2c;
	text-align:left;
	padding-top:70px;
	line-height:40px;
	float:left;
}

.notification-box3{
	width:665px;
	height:auto;
	font-family:impact;
	font-size:30px;
	color:black;
	text-align:left;
	padding-top:130px;
}

.notification-box4{
	width:665px;
	height:auto;
	font-family:verdana;
	font-size:12px;
	color:black;
	text-align:left;
}

.notification-box5{
	font-family:verdana;
	font-size:18px;
	color:#5d5d5d;
	margin-top:100px;
	float:left;
}

.notification-box6{
	font-family:verdana;
	font-size:16px;
	font-weight:bold;
	color:#47768b;
	margin-top:10px;
}


#bg1{
	width:851px;
	height:446px;
	display:block;
	margin:0;
	padding:0;
	background:url(/images/errors/404-bg.jpg) no-repeat;
}

#bg2{
	width:851px;
	height:446px;
	display:block;
	margin:0;
	padding:0;
	background:url(/images/errors/error-bg.jpg) no-repeat;
}

#bg3{
	width:851px;
	height:446px;
	display:block;
	margin:0;
	padding:0;
	background:url(/images/errors/maintenence-bg.jpg) no-repeat;
}

.ups{
	margin:50px 20px 0 30px;
	float:left;
}

.beta{
	margin-top:85px;
	float:left;
}

.right1{
	margin-left:120px;
}

.home-btn{
	width:225px;
	height:151px;
	display:block;
	background:url(/images/errors/home-btn.jpg) 0 0;
	margin-top:32px;
}

.home-btn:hover{
	background:url(/images/errors/home-btn.jpg) 0 151px;
}

.home-btn2{
	width:55px;
	height:68px;
	display:block;
	background:url(/images/errors/home-btn2.png) 0 0;
	margin:180px 10px 0 0;
	float:right;
}

.home-btn2:hover{
	background:url(/images/errors/home-btn2.png) 0 71px;
}

.text-btn{
	font-family:verdana;
	font-size:12px;
	text-decoration:none;
	color:#2269d1;
	margin:0;
}

.text-btn:hover{
	text-decoration:underline;
}

#email_container{
	width:494px;
	height:auto;
	margin:0;
	padding:0;
}

#email_icon{
	width:122px;
	height:119px;
	margin:0;
	padding:0;
	float:left;
}

.email_btn{
	width:343px;
	height:39px;
	margin:0 0 0 5px;
	padding:13px 0 0 20px;
	font-family:verdana;
	font-size:14px;
	font-weight:bold;
	color:#4a4a4a;
	text-align:left;
	text-decoration:none;
	background: url(/images/errors/btn1.gif) 0 0;
	display:block;
}

a.email_btn:hover{
	color:#606060;
	background: url(/images/errors/btn1.gif) 0 52px;

}

.textbox{
	width:330px;
	height:28px;
	border:#888888 2px solid;
	margin:0 0 10px 0;
	padding:7px 0 0 10px;
	font-family:verdana;
	font-size:14px;
	font-weight:bold;
	color:#adadad;
}

#email_container{
	width:494px;
	height:auto;
	margin:0;
	padding:0;
}

#emailbox{
	width:372px;
	height:auto;
	margin:0;
	padding:10px 0 0 0;
	float:left;
}

.clear{
  clear:both;
}

h4{
	font-family:verdana;
	font-size:11px;
	color:#8cb4cf;
	font-weight:bold;
}

h5{
	font-family:verdana;
	font-size:12px;
	color:#2ea4ff;
	font-weight:bold;
}

.add1-text{
	font-family:arial;
	font-size:11px;
	color:#0590e8;
}

.add1-text:hover{
	color:#54b9f9;
}

.remove-btn{
	font-family:arial;
	font-size:11px;
	color:#0590e8;
	text-decoration:none;
	float:right;
}

.remove-btn:hover{
	color:#54b9f9;
}

.message_online{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#4a4a4a;
	margin:-50px 0 0 98px;
}

#account-setup-content{
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
}

#account-setting-content{
  overflow-y: auto;
  overflow-x: hidden;
  width:468px !important;
}

#account-setting-content2{
  overflow-y: auto;
  overflow-x: hidden;
  width:546px !important;
}

.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

.fb-popupbox{
	width:716px;
	height:40px;
	background:url(/images/facebook-backup/fb-top.png) no-repeat;
	margin:20px 0 0 0;
}

.fb-popupbox2{
	width:883px;
	height:16px;
	background:url(/images/facebook-backup/fb-top2.png) no-repeat;
	margin:20px 0 0 0;
}

.top-text{
	float:right;
	padding-right:10px;
	font-family:arial;
	font-size:11px;
	color:#a9bbe0;
	margin:20px -15px 0 0;
}

.close-btn{
	width:38px;
	height:36px;
	background:url(/images/facebook-backup/fbpopup/close-btn.png) 0 0;
	margin:-15px -15px 0 0;
	float:right;
}

.close-btn:hover{
	background:url(/images/facebook-backup/fbpopup/close-btn.png) 0 36px;
}

.logo-fb{
	background:url(/images/facebook-backup/logo.gif) no-repeat;
	width:87px;
	height:17px;
	margin:-5px 0 0 15px;
	float:left;
}

.fb-popup-container1{
	width:686px;
	height:auto;
	background:url(/images/facebook-backup/fb-box.png) repeat-y;
	padding:15px 15px 0 15px;
	margin:7px 0 0 0;
}

.fb-popup-container2{
	width:880px;
	height:auto;
	background:url(/images/facebook-backup/fb-box2.png) repeat-y;
	padding-left:3px;
}

.fb-content{
	margin-top:-5px;
}

.checklist{
	width:25px;
	height:20px;
	background:url(/images/facebook-backup/checklist.gif) no-repeat;
	margin:0;
	float:left;
}

.popup-title1{
	font-family:arial;
	font-size:16px;
	color:#454b50;
	margin-left:5px;
	float:left;
}

.popup-title2{
	font-family:arial;
	font-size:14px;
	color:#454b50;
}

.popup-title3{
	font-family:arial;
	font-size:16px;
	color:#89c305;
	margin-left:5px;
	float:left;
}

.top-titlebox{
	width:680px;
	height:auto;
	border-bottom:1px solid #454b50;
	margin-bottom:10px;
	padding-bottom:10px;
}

.popup-text-area{
	font-family:arial;
	font-size:11px;
	color:#454b50;
	text-align:justify;
	line-height:20px;
	width:680px;
	height:auto;
	padding-bottom:10px;
	border-bottom:1px solid #454b50;
}

.popup-text1{
	font-family:arial;
	font-size:11px;
	color:#454b50;
	float:left;
	margin:10px 5px 10px 0;
}

.popup-text2{
	font-family:arial;
	font-size:12px;
	color:#454b50;
	float:left;
	margin:10px 5px 10px 0;
}

.popup-textbtn1{
	font-family:arial;
	font-size:11px;
	color:#3b5998;
	float:left;
	margin:10px 5px 10px 0;
	text-decoration:none;
}

.popup-textbtn1:hover{
	text-decoration:underline;
}

.popup-textbtn2{
	font-family:arial;
	font-size:12px;
	color:#3b5998;
	float:left;
	margin:10px 5px 10px 0;
	text-decoration:none;
}

.popup-textbtn2:hover{
	text-decoration:underline;
}

.arrow-right{
	width:16px;
	height:16px;
	float:left;
	margin:10px 0 0 0;
}


.popup-pic{
	float:left;
	margin:0 4px 0 11px;
}

.line5{width:96%;margin-right:5px;}

.fb-btn1{
	width:109px;
	height:24px;
	margin:10px 0 10px 0;
}

.btn-box1{
	width:66px;
	height:20px;
	background:url(/images/facebook-backup/fb-btn2.gif) 0 0;
	display:block;
	font-family:arial;
	font-size:12px;
	color:white;
	text-align:center;
	padding:4px 0 0 0;
	text-decoration:none;
	margin:10px 0 0 0;
}

.btn-box1:hover{
	background:url(/images/facebook-backup/fb-btn2.gif) 0 24px;
}

#flashmessage{
	width:449px;
	height:auto;
	padding:5px 0 5px 0;
	text-align:center;
	font-family:arial;
	font-size:11px;
	color:#762323;
	background:#ffadc2;
	border:1px solid #c50c0c;
	margin-bottom:5px;
}

.feedback-text {
	width: auto;
	font-family:arial;
	font-size:10px;
	padding:5px 0 5px 0;
	
	border:0px solid #c50c0c;
	margin-top: 10px;
	margin-bottom:5px;
}

#twitter_connect_button {
  margin:20 auto;
  width:250px;
  font-size:20px;
  color:red;
}

.acc-setup-top{
	width:700px;
	height:12px;
	background:url('/images/acc-setup-top.png') transparent no-repeat;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/errors/popup-top.png',sizingMethod='scale');
}

.acc-setup-body{
	width:700px;
	height:auto;
	background:url('/images/acc-setup-body.png') repeat-y;
	margin:0;
	padding:0;
}

.acc-setup-down{
	width:700px;
	height:16px;
	background:url('/images/acc-setup-down.png') transparent no-repeat;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/errors/popup-top.png',sizingMethod='scale');
}

/* Account setup */
#accordion p.account-setup-accordion-icon {
	cursor:pointer;
}

/* Account listing tables */
table.backup-accounts-table {
	width: 440px;
	border-collapse: collapse;
}

table.backup-accounts-table th, #facebook-accounts-table td {
	border: none;
}

table.backup-accounts-table th {
	background-color: #ddd;
	
}

table.backup-accounts-table tr:nth-of-type(even) {
	background-color: #F3F3F3;
}

table.backup-accounts-table td {
	padding: 10px;
	text-align: center;
}

table.backup-accounts-table td:nth-of-type(0n+1) {
	font-weight: bold;
}

table.backup-accounts-table td.active {
	color: green;
}

table.backup-accounts-table td.inactive {
	color: red;
}

