
.accordion_toggle{
    display: block;
    background: #eee;   /* required for effect--can be anything except "transparent" */
    cursor: pointer;
}

.accordion_toggle:hover, div.accordion_toggle_active{  
		/* border-top: 1px solid #a06b55;   */
		background: url(/images/backgrounds/html-xrepeat.png) repeat-x;
		color: #12419e;
}

.accordion_content {
    overflow: hidden;	/* required for effect */
}
