div#feature_list {
	width: 750px;
	height: 590px;
	overflow: hidden;
	position: relative;
}

div#feature_list ul {
	position: absolute;
	top: 0;
	list-style: none;	
	padding: 0;
	margin: 0;
}

ul#tabs {
	left: 0;
	z-index: 2;
	width: 320px;
}

ul#tabs li {
	font-size: 12px;
	/* font-family: Arial; */
}

ul#tabs li img {
	padding: 5px;
	border: none;
	float: left;
	margin: 10px 10px 0 0;
}

ul#tabs li a {
	color: green;
	text-decoration: none;	
	display: block;
	padding: 10px;
	height: 60px;
	outline: none;
}

ul#tabs h2 {
	color: #02419E;
	margin: 0;	
	padding: 7px 0 0 0;
	font-size: 16px;
	text-transform: uppercase;
}

ul#tabs li a:hover {
	text-decoration: underline;
}

ul#tabs li a.current {
	background:  url('/images/feature-tab-current.png');
	color: #FFF;
}

ul#tabs li a.current:hover {
	text-decoration: none;
	cursor: default;
}

ul#output {
	right: 0;
	width: 463px;
	height: 540px;
	position: relative;
}

ul#output li {
	position: absolute;
	width: 463px;
	height: 240px;
}

ul#output li span {
	position: absolute;
	top: 10px;
	right: 10px;
	left: 25px;
	padding: 8px 12px;
	text-decoration: none;
	font-size: 12px;
	color: #FFF;
	background: #000;
	-moz-border-radius: 5px;
}

ul#output li span:hover {
	background: #D33431;
}