/* $Id$ */

/* video player for video browsing

/* player styles */

/*********************************************************************/
/* Styles for thumbnail that turns into video player when clicked on */
/* styling of the container. */ 
a.video_player { 
	display:block; 
	text-align:center; 
	margin:0 15px 15px 0; 
	float:left; 
	border:1px solid #999; 
} 

/* play button */ 
a.video_player img { 
	margin-top:70px; 
	border:0px; 
} 

/* when container is hovered we alter the border color */ 
a.video_player:hover { 
	border:1px solid #000; 
}

a.video_thumb {
	border:1px solid #999; 
}

a.video_thumb img {
	margin:0 10px 10px 0; 
	border:1px solid #999; 
}

a.video_thumb:hover { 
	border:1px solid #000; 
}

/*********************************************************************/
/* Styles for standalone player */

/* container has a background image */

a.player {	
	margin-top:40px;
	display:block;
	background:url(/images/play_large.png) no-repeat;
	width:320px;
	height:240px;
	padding:0 126px 75px 127px;	
	text-align:center;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}

/* splash image */
a.player img {
	margin-top:115px;
	border:0;	
}

#player {
	float: left;
	display:block; 
	text-align:center; 
	margin:0 15px 15px 0; 
	border:1px solid #999;
}	

#player.medium {
	width:320px;
	height:240px
}

/*********************************************************************/
/* playlist for video browsing - from http://flowplayer.org/demos/plugins/javascript/playlist/youtube.htm */

/* playlist style */
#playlist {
	width:300px;
	height:350px;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid #ccc;
	padding:4px 10px 12px 10px;
	background: #f2f7fe;
	margin-top:5px;
	float:left;
}

/* playlist entry */
.playlist_item {
	display:block;
	overflow-x:hidden;
	/*
	width:280px;
	*/
	height:110px;
	padding:7px;
	background-color:#fff;
	/*
	border:1px solid #ccc;
	font:11px "bitstream vera sans", "lucida grande",verdana;
	*/
	text-decoration:none;
	margin-top:7px;
	color:#666;
}

/* different states of a playlist entry */
.playlist_item a:hover {
	background-color:#ffc;		
}

.playlist_item a.progress {
	background-color:#efefef;	
}

.playlist_item a.playing {
	border:1px solid #666;
	background-color:#ffc;	
}

.playlist_item a.paused {
	border:1px solid #666;
	background-color:#ffc;	
}

/* elements inside playlist entry */
#playlist .playlist_item a img {
	border:0;	
	float:left;
	margin-right:10px;
}

.playlist_item a strong {
	color:blue;		
	padding-bottom:5px;
}

.playlist_item a span {
	float: left;
	font-style:normal;
}

.playlist_item a em {
	border:0;	
	float:left;
	margin-right:10px;
	background:url(/images/clock.gif) no-repeat 0 50%;
	padding-left:20px;
	color:#333;
	font-style:normal;
	margin-top:10px;
}

