input#login_button/* Global Settings */

* { padding: 0; margin: 0; }
.clearboth { clear: both ; }
.alignright { float: right; }
.alignleft { float: left; }
.hidden { display: none; }
img.alignleft { margin: 0 5px 5px 0; }
img.alignright { margin: 0 0 5px 5px; }
img.centered { display: block; margin: 0 auto; }
.textright { text-align: right; }
.textjustify { text-align: justify; }

body { 
	background: #fff url(/images/bg.gif) top repeat-x;
	font: medium Arial, Sans-Serif;
	/* font-family: "Century Gothic", Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	*/
	color: #5f5f5f; 
	}
	
#wrapper { width: 890px; margin: 0 auto; }
#topdiv { background: url(/images/topdiv.gif) no-repeat; height: 10px; width: 890px; }
#bottomdiv { background: url(/images/bottomdiv.gif) no-repeat; height: 10px; width: 890px; }
#content { width: 861px; margin: -20px auto 0; padding: 0 14px 0 15px; background: url(/images/contentbg.gif) repeat-y;}
#header { height: 78px; }
#logo { margin: 6px 24px; width: 172px;}
#login { background:  url(/images/loginbg.gif) bottom no-repeat; width: 391px; height: 55px; padding: 0 10px;}
#login input.styled1 { background: url(/images/white.gif); border: 1px solid #b4becc; color: #c7c7c7; padding: 3px; margin-right: 5px; width: 135px; }


#menu { width: 600px; font-size: 17px; text-align: right; padding: 0; }
#menu a { text-decoration: none; color: #12419e; }
#menu a:hover { }
#menu .activated { color: #5f5f5f; }

.content_title a{ text-decoration: underline;}
.sub_menu { margin-right: 15px; }
.sub_menu a { text-decoration: none; color: #12419e; }
.sub_menu a:hover { }
.sub_menu .activated { color: #5f5f5f; }


#inner_menu { width: 382px; text-align: right; font-size: 13px; }
#inner_menu ul { margin: 0;  list-style-type: none; height: 30px; line-height: 30px; }
#inner_menu ul li { display: inline; }
#inner_menu ul li a { text-decoration: none; color: #A4B0D6; font:9px arial; text-transform:uppercase }
#inner_menu ul li a:hover { text-decoration: underline; }
#navlist .home {padding: 5px 15px 5px 30px; }
#navlist .support { background: url(/images/board.gif) left no-repeat;  padding: 5px 15px 5px 30px; }
#navlist .logout {}
#navlist .login { background: url(/images/login.gif) left no-repeat;  padding: 3px 15px 3px 20px; }

.context { margin-top: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 15px; }
#sub_content { width: 861px; float: right; border-top: 1px solid #02419e; margin: 20px 0 0 0; } 
#sub_content h2 {font-size: 30px; font-weight: normal; color: #12419e; margin: 0; padding: 0;}
#search_content {
	padding-top: 15px;
	margin-right: 15px;
	width: 455px;
}

.form_field, .sub_content { margin-top: 30px; margin-right: 15px; padding-bottom: 30px; }
.form_field_input { width: 224px; background: url(/images/input224.gif) no-repeat; border: 0; height: 24px; padding: 3px; }

span.select {
	position: absolute;
	width: 224px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 24px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(/images/select224.gif) no-repeat;
	overflow: hidden;
}

.content_title { width: 400px; }
.content_title {font-size: 11px;}
.content_title h2, .h2title { font-size: 30px; font-weight: normal; color: #12419e;}
.context h3 { color: #12419e; font-family: "Century Gothic", Arial, Helvetica, sans-serif; font-size: 18px; margin: 15px 0; }

.context ul { list-style: none; margin: 15px 0;}
.context ul li { background: url(/images/flame.gif) left no-repeat; padding-left: 40px; margin: 8px 0; padding: 4px 30px; }

.hor-minimalist-b { border-collapse: collapse; text-align: left; width: 100%; margin-bottom: 30px; }
.hor-minimalist-b th { padding: 10px 8px; border-bottom: 2px solid #ccc; font-weight: normal; }
.hor-minimalist-b td { border-bottom: 1px solid #ccc; color: #5f5f5f; padding: 6px 8px; }
.hor-minimalist-b td span {color: #02419e;}
.hor-minimalist-b tbody tr:hover td { color: #009; }



.inset { background: url(/images/insetbg.gif) repeat-y; width: 158px; margin: 15px; }
.inset p { margin: 18px; font-size: 10px; color: #003a66; }
.insettop { background: url(/images/inset-top.gif) no-repeat; height: 12px;}
.insetbottom { background: url(/images/inset-bottom.gif) no-repeat; height: 13px;}


.h-inset { background: url(/images/h-inset-bg.gif) repeat-y; width: 175px; color: #fff; }
.h-inset h3 { margin: 0 20px 0 18px; border-bottom: 1px solid #fff; }
.h-inset p { margin: 0 32px 0 18px; font-size: 10px;}
.h-inset-top { background: url(/images/h-inset-top.gif) no-repeat; height: 15px; }


#footer { text-align: center; margin-top: 30px; font-weight: bold; padding-bottom: 30px; }
#footer p { font-family: Verdana, Geneva, sans-serif; font-size: 10px; margin-top: 15px; }
#footer p a { color: #02419e; text-decoration: none; margin: 0 15px; }

/* $Author$ additions below: */
.message_title {
	font-size: 30px; font-weight: bold;
}
#dashitemicon {
	width: 62px;
	height: 100px;
	margin-right: 10px;
}
#dashitemtext {
	width: 320px;
}
#dashitemtext p{
    font-size: 11px;
}
.gallery_item-selected {
	/* border: 3px solid #12419e; */
	min-height: 100px;
	width: 100px;
}
/* http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
#gallery ul li {
	width: 100px;
	min-height: 100px;
  /* border: 1px solid #000; */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  zoom: 1;
  *display: inline;
  _height: 100px;
}

.publish_date {
	text-align: left;
	font-size: 12px;
}

.wysiwyg {
	style: "border:solid"
}

.content-list-file a:link {
	text-decoration: none;
}
.content-list-file a:visited {
	text-decoration: none;
}

/* account setting*/

.lv_Frames li.menu-setting{
  margin: 10px 0 0 0;
}

#account-setting-nav{
  float: left;
  width: 300px;
}
#account-setting-content{
  float: left;
  width: 500px;
}
/* end */

#topbar{
	width:800px;
	height:35px;
}

#topbar .title1{
	font-family:arial;
	font-size:18px;
	color:#595959;
}

#dialog-container {
  width: 90%;
  padding: 15px;
}

#content-container{
	width:785px;
	height:auto;
	border-top:#b4becc solid 1px;
	padding:15px;
}

.navbtn1{
	width:150px;
	height:17px;
	background:url(../images/navbtn.gif) 0 17px;
	display:block;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-decoration:none;
	border:none;
	text-align:left;
	padding-left:10px;
	margin-bottom:5px;
}

.navbtn1:hover{
	background:url(../images/navbtn.gif) 0 0;
	color:#2ea4ff;
}

.col2{
	width:2px;
	height:auto;
	background:url(../images/borderv.gif) repeat-y;
}

.col3{
	width:780px;
	height:auto;
	text-align:justify;
	padding:0 8px 0 15px;
}

.subtitle1{
	font-family:arial;
	font-size:18px;
	color:#636972;
}

.subtitle2{
	font-family:arial;
	font-size:18px;
	color:#02419e;
	margin:0 0px 0 5px;
}

.subtitle3{
	font-family:arial;
	font-size:14px;
	color:#02419e;
	margin:10px 0 0 0;
}

.subtitle4{
	font-family:arial;
	font-size:14px;
	color:#636972;
	margin:10px 0px 0 0;
}

.textarea1{
	width:615px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-align:justify;
	line-height:20px;
}

.textarea2{
	width:610px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	float:left;
}

.textarea3{
	width:610px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.textarea4{
	width:565px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.textarea5{
	width:500px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	float:left;
	margin-top:10px;
}

.textarea6{
	width:560px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	line-height:20px;
	float:left;
}

.textarea7{
	width:150px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	float:left;
	margin-top:10px;
}

.textarea8{
	width:610px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.list1{
	width:100%;
	height:auto;
	margin-top:10px;
	margin-left:30px;
}

.dot{
	width:10px;
	height:10px;
	float:left;
	margin:5px 10px 0 0;
}

.dot2{
	width:10px;
	height:10px;
	float:left;
	margin:5px 10px 0 0;
}

.dot3{
	width:10px;
	height:10px;
	float:left;
	margin:10px 10px 0 0;
}

.nametext1{
	font-family:arial;
	font-size:13px;
	color:#2ea4ff;
	margin:15px 0 5px 0;
	font-style:italic;
}

.bluetext{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#02419e;
}

#recording_instructions {
	width: 90%;
	font-family:arial;
	font-size:12px;
	background-color: #ffe;
}

#submenu {
clear:both;
font:bold 12px arial;
letter-spacing:1px;
margin-top:50px}

#submenu a {
margin:0 10px;
color:#274099;
background:url(../images/submenu-limiter.png) right no-repeat}

#submenu:last-child a {
background:none}

#submenu a:hover {
color:#E4D692}