

#artifact_picker {
	border: 1px solid;
}

#type_list {
	float: left;
	border: 1px solid;
	padding : 3px;
}

#artifact_view {
	border: 1px solid;
  float: left;
  padding-left : 10px;
  padding : 3px;
}

#slideshow_droptarget {
	border: 1px solid;
	padding: 10px;
	height: 200px;
}

#preview_pane {
	border: 1px solid;
	padding: 10px;
	height: 200px;
}

.hoverActive {
   background-color: #ffffcc;
}

#arti-scroller .scrollable {
	width: 550px;
}

/* For scrollers */
.scrollable .items .decoration_itemZZ { 
    float:left;
		margin:20px 5px 20px 21px;
		/* custom decoration */
		text-align:center;
		width:110px;
		height: 90px;
		padding:25px 0px;
		font-size:12px;
		font: medium Arial, Sans-Serif;
		border:1px outset #ccc;
		cursor:pointer;
		background: #fff url(/images/bg.gif) top repeat-x;
	
		margin-right: 20px;	
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
}
