
#artifact_picker {
	border: 1px solid;
	height: 150px;
}

#type_list {
	float: left;
	border: 1px solid;
	padding : 3px;
}

#artifact_view {
	border: 1px solid;
  float: left;
	width: 600px;
  padding-left : 10px;
  padding : 3px;
}

#slideshow_droptarget {
	border: 1px solid;
	padding: 10px;
	height: 200px;
}

#preview_pane {
	border: 1px solid;
	padding: 10px;
	height: 200px;
}