/* $Id$ */

@/* embeds the openid image in the text field */
input#openid_url {
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}

input#login_button {
	background: url(../images/login-button2.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 14px;
	padding: 1px 0 4px 0;
	width: 70px;
}

div#loader{
  right: 600px;
  top: 200px;
  position: absolute;
}

div#counter{
  margin: 10px;
  font-size: 20px;
  color: #02419E;
}

