/* $Id$ */

@/* embeds the openid image in the text field */
input#openid_url {
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left:10px;
}

input#login_button {
	background: url(/images/login-button.png) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	padding: 1px;
	width: 91px;
	//width:100px;
	height:23px;
	margin:2px 0 0 0;
	cursor:pointer;
}

input#login_button:hover {
	background: url(/images/button-login.png) no-repeat;
}

div#loader{
  right: 600px;
  top: 200px;
  position: absolute;
}

div#counter{
  margin: 10px;
  font-size: 20px;
  color: #02419E;
}

body{
	margin:0;
	padding:0;
}

#content-container2{
	background:url(/images/body.png) repeat-y;
	width:860px;
	height:auto;
	padding:0 15px 0 20px;
	//margin-top:-5px;
}

.reg-btn{
	width:298px;
	height:53px;
	margin:0;
	display:block;
	background:url(/images/reg-btn.gif) 0 0;
}

.reg-btn:hover{
	background:url(/images/reg-btn.gif) 0 53px;
}

.main-pic{
	width:374px;
	height:91px;
	color:black;
	font-family:arial;
	font-size:18px;
	padding:215px 0 0 20px;
	margin-top:10px;
	float:left;
	/*background:url(/images/main-pic.jpg) no-repeat;*/
	background:url(/images/tl_screenshot.jpg) no-repeat;
}

#features {
	background: white;
	padding: 0px 10px 10px 10px;
}

#feature {
	
}

.feature-title {
	font-weight: bold;
	font-size: 14;
}

.feature-text {
	margin-left: 10px;
}

.right-container{
	width:430px;
	height:auto;
	float:left;
	margin-left:20px;
}

.greeting{
	width:430px;
	height:auto;
	font-family:arial;
	font-size:17px;
	color:#4f555c;
	margin-top:10px;
	padding-bottom:10px;
	border-bottom:3px dotted #4f555c;
	text-align:center;
}

#main-right {
	width:425px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#4f555c;
	text-align:justify;
	line-height:20px;
	padding:12px 0 15px 5px;
}

.clear{
	clear:both;
}

.blue{
	color:#02419e;
}

.blue-btn{
	font-family:arial;
	font-size:12px;
	color:#02419e;
	text-decoration:none;
	margin:0;
}

.blue-btn:hover{
	text-decoration:underline;
}

