/*
# $Id$
*/
/*  
    root element for the scrollable.  
    when scrolling occurs this element stays still.  
*/ 
div.scrollable { 
     
    /* required settings */ 
    position:relative; 
    overflow:hidden;          
    width: 760px;     
    height:140px;     

		/* custom decorations */
		padding:10px 0;	
		border:1px outset #ccc;
		background-color: #ddd;
} 
 
/*  
    root element for scrollable items. Must be absolutely positioned 
    and it should have a super large width to accomodate scrollable items. 
    it's enough that you set width and height for the root element and 
    not for this element. 
*/ 
div.scrollable div.items {     
    /* this cannot be too large */ 
    width:20000em;
    position:absolute;
		clear:both;		

		/* decoration */
		margin-left:10px;         
} 
 
/*  
    a single item. must be floated on horizontal scrolling 
    typically this element is the one that *you* will style 
    the most. 
*/ 
div.scrollable div.items div.decoration_item { 
    float:left;
		/* custom decoration */
		text-align:center;
		width:110px;
		height: 90px;
		padding:25px 0px;
		font-size:12px;
		font: medium Arial, Sans-Serif;
		border:1px outset #ccc;
		background: #fff url(/images/bg.gif) top repeat-x;
	
		margin-right: 20px;	
		-moz-border-radius:5px;
}

/* you may want to setup some decorations to active item */ 
div.items div.active { 
    border:1px inset #ccc;         
    background-color:#fff; 
}

div.decoration_item div.links {
	font-size: 12px;
	position:absolute; top:90%; height:80px; margin-top:-6px;
}

