.scroll-track{
	height:10px;
	width:10px;
	background:silver;
}

.scroll-handle{
 height:7px;
 width:10px;
 background:#2ea4ff;
 cursor:pointer;
 }

.scroll-track-top{
  height:9px;
  width:10px;
  background:url(/images/errors/arrow-up.gif);
}

.scroll-track-bot{
  height:9px;
  width:10px;
  background:url(/images/errors/arrow-bot.gif);
}
