/*
body{
	margin:0;
	padding:0;
	background:#292c32;
}
*/
/* img {behavior:url("pngbehavior.htc");} */

img { 
	behavior: url(/stylesheets/iepngfix.htc) 
}

#topbar{
	width:875px;
	height:35px;
	background:white url(../images/body-top.png) no-repeat;
	padding:15px 0 0 15px;
}

#content-container{
	background:url(../images/body.png) repeat-y;
	width:860px;
	height:auto;
	border-top:#b4becc solid 1px;
	padding:15px;
}

#topbar .title1{
	font-family:arial;
	font-size:25px;
	color:#02419e;
}

.table{
	border:none;
	padding:0;
	margin:0;
	width:860px;
	height:auto;
}

.table1{
	border:none;
	padding:0;
	margin:0;
	width:860px;
	height:auto;
}

.col1{
	width:160px;
	text-align:left;
}

.col2{
	width:2px;
	height:auto;
	background:url(../images/borderv.gif) repeat-y;
}

.col3{
	width:678px;
	height:auto;
	text-align:justify;
	padding:0 8px 0 15px;
}

.link-category{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#02419e;
	margin-bottom:5px;
}

.navbtn1{
	width:150px;
	height:17px;
	background:url(../images/navbtn.gif) 0 17px;
	display:block;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-decoration:none;
	border:none;
	text-align:left;
	padding-left:10px;
	margin-bottom:5px;
}

.navbtn1:hover{
	background:url(../images/navbtn.gif) 0 0;
	color:#2ea4ff;
}

.subtitle1{
	font-family:arial;
	font-size:18px;
	color:#636972;
}

.subtitle2{
	font-family:arial;
	font-size:18px;
	color:#02419e;
	margin:0 0px 0 5px;
}

.subtitle3{
	font-family:arial;
	font-size:14px;
	color:#02419e;
	margin:10px 0 0 0;
}

.subtitle4{
	font-family:arial;
	font-size:14px;
	color:#636972;
	margin:10px 0px 0 0;
}

.subtitle5{
	font-family:arial;
	font-size:14px;
	color:#02419e;
	margin-left:5px;
	float:left;
}


.nametext1{
	font-family:arial;
	font-size:15px;
	color:#2ea4ff;
	margin:10px 0 10px 0;
	font-style:italic;
}


.textarea1{
	width:668px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-align:justify;
	line-height:20px;
}

.textarea2{
	width:618px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	float:left;
}

.textarea3{
	width:99%;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.textarea4{
	width:565px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.textarea5{
	width:405px;
	height:auto;
	margin: 0 0 0 5px;
	font-family:arial;
	font-size:12px;
	color:#636972;
}

.textarea6{
	width:612px;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	line-height:20px;
	float:left;
}

.textarea7{
	width:200px;
	height:auto;
	font-family:arial;
	font-size:11px;
	color:#636972;
	float:left;
	margin-top:10px;
}

.textarea8{
	width:95%;
	height:auto;
	font-family:arial;
	font-size:12px;
	color:#636972;
	text-align:justify;
	line-height:20px;
	float:left;
}

.bluetext{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#02419e;
}

.list1{
	width:100%;
	height:auto;
	margin-top:10px;
	margin-left:30px;
}

.list2{
	width:668px;
	height:auto;
	margin-left:30px;
	margin-top:10px;
}

.dot{
	width:10px;
	height:10px;
	float:left;
	margin:5px 10px 0 0;
}

.dot2{
	width:10px;
	height:10px;
	float:left;
	margin:5px 10px 0 0;
}

.dot3{
	width:10px;
	height:10px;
	float:left;
	margin:2px 10px 0 0;
}

.pic1{
	width:103px;
	height:90px;
	margin:5px 10px 0 0;
	float:left;
}

.map1{
	width:318px;
	height:261px;
	margin-left:20px;
	float:left;
}

.im{
	width:340px;
	height:52px;
	background:url(../images/imbtn.jpg) 0 0;
	display:block;
	border:none;
	margin-top:37px;
}

.im:hover{
	background:url(../images/imbtn.jpg) 0 52px;
}
