@charset "utf-8";
/* CSS Document */


body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.clearboth { clear: both; }

.data {
width:616px;
overflow-x:hidden;
overflow-y:scroll;
}

p{
margin:0px;
}

a {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
color:#3860AB;
}

a:hover {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:underline;
color:#3860AB;
}

.popup-container{
	width:650px;
	margin-top:20px;
	padding:0;
	height:100%;
}

.popuptop{
	width:650px;
	height:11px;
	background:url('/images/popup-top.png') transparent no-repeat;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/popup-top.png',sizingMethod='scale');
}

.popup-content{
	width:650px;
	background:url(/images/popup-content.png) repeat-y;
	margin:0;
	padding:0;
}

.top-box{
	width:645px;
	height:auto;
	margin:0;
}

.top-box2{
	width:596px;
	height:36px;
	margin:0 0 0 13px;
	padding:0 0 7px 5px;
	border-bottom:1px solid #393b3e;
	font-size:20px;
	color:#02419e;
	font-weight:bold;
	background:transparent url(/images/event.png) no-repeat;
}

.acc-title{
margin-left:40px;
margin-top:0;
padding-left:0;
padding-top:7px;
}

a.stop-btn{
	width:80px;
	height:36px;
	display:block;
	margin-top:-25px;
	z-index:999;
	background:url('/images/save-btn.png') 0 0 transparent;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save-btn.png',sizingMethod='scale');
	float:right;
}

a.stop-btn:hover{
	background:url('/images/save-btn.png') 0 36px transparent;
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/save-btn.png',sizingMethod='scale');
}

.content{
margin:14px 0 0 13px;
width:575px;
}

.title_post{
color:#3860AB;
font-size:15px;
font-weight:bolder;
float:left;
margin-top:10px;
}

.title_post_rss{
color:#ed6700;
font-size:15px;
font-weight:bolder;
float:left;
margin-top:10px;
}

.title_post_twitter{
color:#24b9bf;
font-size:15px;
font-weight:bolder;
float:left;
margin-top:10px;
}


.image_post{
float:right;
clear:right;
}

.message{
font-weight:bold;
margin-top:10px;
margin-bottom:0px;
}

img.pic_message{
clear:left;
float:left;
margin-right:15px;
border:6px solid #F5F5F5;
}

.message_content{
width:575px;
line-height:17px;
text-align:justify;
border-bottom:1px dashed #d4d4d4;
margin-top:15px;
padding: 10px;
font-size: 14px;
}

.posted, .detail {
margin-top:10px;
color:#3860AB;
font-size:11px;
}

