/* CSS Document */

/*timeline--------------------------------------------------------------------------------------------------------------------------*/

body{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

#content-container3{
	width:861px;
	height:auto;
	padding:0;
}

#content-container3 a {
	color:#253f96;
}

#content-container3 a:hover,
#content-container3 a:active {
	color:#d3b129;
}

.tl_helptext {
	font-size: 11px;
	background-color: #ffe;
}

.subtitle1{
	font-family:arial;
	font-size:18px;
	color:#636972;
}

.subtitle2{
	font-family:arial;
	font-size:18px;
	color:#02419e;
	margin:0 5px 0 5px;
}

.subtitle6{
  width:120px;
  height:auto;
  text-align:center;
  font-family:arial;
  font-size:18px;
	font-weight: bold;
  color:#636972;
  padding:0 10px;
  float:left;
}

.subtitle7{
  font-family:arial;
  font-size:18px;
	font-weight: bold;
  color: #636972;
  width:40px;
  height:auto;
  padding:0 10px;
  text-align:center;
  float:left;
}

#timeline_links {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.timelinebox {
	width:860px;
	height:auto;
	padding:10px 0 10px 0;
}

#my-timeline {
	height:300px;
	border: 1px solid #aaa;
}

.dotline {
	width:860px;
	height:1px;
	background:url(/images/dotted.gif) repeat-x;
	margin:10px 0 10px 0;
}

.backup-container {
	/* border: 1px solid; */
	background-color: #ffe;
	margin-bottom: 10px;
	font-size: 11px;
}

.backup-box {
	float: left;
	/*
	width: 100px;
	height:50px;
	*/
	padding:0 10px 0 10px;
	/*margin:20px 0 10px 0;*/
}

.progress-bar{
	width:160px;
	height:9px;
	float:left;
	margin:15px 6px 0 0;
}

.percen-text{
	font-family:arial;
	font-size:11px;
	color:#4b4b4b;
	float:left;
	margin-top:14px;
}

.vline1{
	width:1px;
	height:50px;
	background:#4c4c4c;
	margin:20px 0 10px 0;
}

.text-btn2{
	font-family:arial;
	font-size:11px;
	text-decoration:none;
	color:#2f343a;
	margin:0;
}

.text-btn2:hover{
	color:#2269d1;
	text-decoration:underline;
}

.paginate-box{
	width:860px;
	height:auto;
	padding:0 0 10px 0;
}

a.paginate-btn{
	font-family:arial;
	font-size:11px;
	color:#4bc1de;
	text-decoration:none;
	float:right;
	padding:0 2px 0 2px;
}

a.paginate-btn:hover{
	text-decoration:underline;
}

#proximity_search {
	float: left;
}

.btn-left{
	width:12px;
	height:22px;
	background:url(/images/arrow-left.gif) 0 0;
	border:none;
	display:block;
	float: left;
	margin:0 10px 0 0;
}

.btn-left:hover{
	background:url(/images/arrow-left.gif) 0 22px;
}

.btn-right{
  width:12px;
  height:22px;
  background:url(/images/arrow-right.gif) 0 0;
  border:none;
  display:block;
	float: left;
  margin:0 10px 0 10px;
}

.btn-right:hover{
	background:url(/images/arrow-right.gif) 0 22px;
}

#story-area{
	width:568px;
	height:auto;
	float:left;
	margin-right:10px;
}

#arti-area{
	width:282px;
	height:auto;
	float:left;
}

.storybox-top{
	width:558px;
	height:20px;
	background:url(/images/storybox-top.gif) no-repeat;
	margin:10px 0 0 0;
	padding:5px 0 0 10px;
}

.storybox{
	width:554px;
	height:auto;
	background:#dee9f4;
	padding:6px 7px;
}

.artibox-top{
	width:272px;
	height:41px; /* 20 */
	background:url(/images/artibox-top.gif) no-repeat;
/*	margin:10px 0 0 0; */
	padding:0px 0 0 10px; 
}

.artibox-title {
	padding-left:12px;
	padding-top:13px;
	font-weight:bold;
	font-size:16px;
	color:#FFFFFF;
}

.artibox{
	width:268px;
	height:auto;
	background:#dee9f4;
	padding:6px 7px;
}

.thumnails1{
	width:71px;
	height:71px;
	border:3px solid #526071;
	float:left;
	margin-right:10px;
}


.arti-thumb {
	width:71px;
	height:71px;
	border:3px solid #526071;
	float:left;
	margin:6px;
}

.story-subox{
	width:265px;
	height:77px;
	float:left;
	background:#f6f9fc;
	margin:6px;
}

.story-detail-box{
	width:178px;
	height:67px;
	float:left;
	padding-top:10px;
}

.story-detail-title{
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	color:#494a4c;
}

.story-detail-date{
	font-family:arial;
	font-size:10px;
	font-style:italic;
	color:#2691d4;
	margin:0 0 10px 0;
}

.story-detail-subject{
	font-family:arial;
	font-size:11px;
	color:#494a4c;
}

.story-subject-btn{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#2691d4;
	text-decoration:none;
}

.story-subject-btn:hover{
	text-decoration:underline;
}

/* timeline events */

.clear{
	clear:both;
}

/* Events list--------------------------------------------------------------------------------------------------------------------------*/

#events_header{
background:transparent url(/images/storybox-top.gif) no-repeat;
height:41px;
}

#events_list{
background-color:#dee9f4;
width:558px;
border:5px solid #dee9f4;
}

.details_box_title {
padding-left:12px;
padding-top:13px;
font-weight:bold;
font-size:16px;
color:#FFFFFF;
}

.event_list_group_odd{
background-color:#DEE9F4;
width:558px;
}

.event_list_group_even{
background-color:#FFFFFF;
width:558px;
}

.event_list_date{
width:130px;
height:auto;
margin:10px 0 0 13px;
float:left;
font-weight:bold;
font-size:11px;
}

ul.event_list_group{
float:right;
height:auto;
margin-left:209px;
margin-top:0;
padding-left:0;
padding-right: 5px;
width:200px;
margin-bottom:3px;
}

.event_list_group_odd li{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:5px 0;
padding:2px 0 2px 25px;
/*font-size:11px;*/
color:#2ea4ff;
/*font-weight:bold;*/
}

.event_list_group_even li{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:5px 0;
padding:2px 0 2px 23px;
}

.event_list_group_even li.twitter {
	background:transparent url(/images/twitter-icon.png) no-repeat scroll left 1px;
}

.event_list_group_even li.facebook {
	background:transparent url(/images/facebook-icon.png) no-repeat scroll left 1px;
}

.event_list_group_even li.rss{
background:transparent url(/images/feed-icon.png) no-repeat scroll left 1px;
}

.event_list_inline_item {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#3860AB;
}

a.event_list_inline_item:hover {
	text-decoration:underline;
}

.event_preview_item_container {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.tooltip_container {
	overflow-x:hidden;
	font-size: 12px;
	position: relative;
	margin-right: 5px;
}

.tooltip_item {

}

.tooltip_item:hover {
	background-color:#ffc;
}

.tooltip_container a {
	/*text-decoration:none;*/
	color:#494a4c;
}

.tooltip_container a:hover {
	/*text-decoration:none;*/
	/*font-size: larger;*/
}

.tooltip_arti_container {
	font-size: 12px;
}

.tooltip_media_container {
	/*
	height:420px;
	*/
	overflow-x:hidden;
	border:1px solid #ccc;
	padding:4px 10px 12px 10px;
	background: #f2f7fe;
	margin-top:5px;
	float:left;	
}

.tooltip_img {
	width: 160px;
}

.tooltip_as {
	width: 300px;
}

.tooltip_feed {
	width: 300px;
	padding-bottom: 5px;
}

.tooltip_video {
	clear:both;	
	overflow-x:hidden;
	width: 420px;
	border:1px solid #ddd;
	margin-top:7px;
	padding:3px;
	font:12px "bitstream vera sans","lucida grande", verdana;
	color:#666;
	background-color:#fff;
}
	
.tooltip_video a.player {
	display:block;
	width:100px;
	height:100px;
	padding:0;	
	text-align:center;
	float:left;
	margin:0 10px 0 0;
}

/* splash image */
.tooltip_video a.player img {
	margin-top:35px;
	border:0;	
}

.tooltip_link a {
	color: blue;
}

.tooltip_link a:hover {
	text-decoration: underline;
}

.event_time {
	font-size: 10px;
	color: gray;
}

.debug_container {
	font-size: 10px;
}

.tip-hover-menu {
	font-size: 10px;
	background-color: #ffc;
	/* For top-right hover 
	position: absolute;
	right: 0;
	top: 0;
	z-index:100;
	*/
}

#tip-hover-menu-items {
	display:none;
	list-style:none;
	margin:0px auto;
}

#tip-hover-menu-items li {
	float:left;
	margin:0px auto;
	padding: 0 5px 0 0;
}

#tip-hover-menu-items li a:hover {
	text-decoration: underline;
}

.tooltip_container:hover #tip-hover-menu-items {
	display:block;
}

/********************************************************************
 * Item Details 
 *
 */

.item_details_content {
	width: 95%;
	height: auto;
	padding: 5px 5px;
	background: #f2f7fe;
	font-size: 14px;
	box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
}

.item_details_content .details_head {
	float: left;
}

.item_details_content .image_post {
	float: right;
}

.item_details_content .message_content {
	width: 60%;
	line-height:17px;
	text-align:justify;
/*	border-bottom:1px dashed #d4d4d4; */
	padding: 10px;
	font-size: 16px;
	background: white;
}

.item_details_content .message_content p {
	font-weight: bold;
}

#content_date .date_label {
	float: left;
	width: ;
}

#date_taken {
	padding-left: 5px; 
	padding-right: 10px;
	float: left
}
#date_taken:hover {
	background-color: #ffc;
}

.item_details_content .posted, 
.item_details_content .detail,
#search-results .posted {
margin-top:10px;
color:#3860AB;
font-size:11px;
}

.title_post_rss {
color:#ed6700;
font-size:15px;
font-weight:bolder;
float:left;
margin-top:10px;
}

.title_post_twitter {
color:#24b9bf;
font-size:15px;
font-weight:bolder;
float:left;
margin-top:10px;
}

img.pic_message{
clear:left;
float:left;
margin-right:15px;
border:6px solid #F5F5F5;
}

.feed_entry_text_pane {
	
}

.email_header_label {
	float: left;
	width: 70px;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

.email_header_content {
	float: left;
	width: 60%
	text-align: left;
	padding-left: 5px;
}

.comment_thread {
	margin-left: 10px;
}

.comment_thread .comment_thread_item {
	margin-bottom: 5px;
}

.comment_thread .comment_pic {
	float: left;
}

.comment_thread .comment_text {
	float: left;
	font-size: 12px;
}

.comment_thread .comment_text img {
	padding-right: 10px;
}