#inner_menu.alignright
  %ul#navlist
    %li.home= link_to 'account setup', account_setup_path
    - if @facebook_session
      %li.logout= fb_logout_link "log&nbsp;out", logout_path
    - else
      %li.logout= link_to "log&nbsp;out", logout_path
