%ul#submenu
  %li= recording_popup_link 'Record Message'
  %li= link_to 'Life Key', trustees_path
  %li= link_to_lightview 'Profile', account_settings_path, {:id => 'account-setting'}, {:rel => "'iframe'"}, {:autosize => false, :closeButton => false, :height => 'lightview_height', :width => '800'}
  %li= link_to_lightview 'Images', image_gallery_path, {}, {:rel => "'iframe'"}, {:autosize => false, :height => 'lightview_height', :width => '800'}