%ul#submenu.alignright
  %li#nav-record= recording_popup_link 'Video Diary'
  %li#nav-lifekey= link_to 'Life Key', trustees_path
  %li#nav-profile= link_to_lightview 'Profile', account_settings_path, {:id => 'account-setting'}, {:rel => "'iframe'"}, {:autosize => false, :closeButton => false, :height => 'lightview_height', :width => '800'}
  %li#gallery= link_to_lightview 'Images', image_gallery_path, {}, {:rel => "'iframe'"}, {:autosize => false, :height => 'lightview_height', :width => '800'}