<div id="submenu">
   <%= #attach_recording_link 'Record Message', :div => 'recorder_pane' 
      recording_popup_link 'Record Message'
    %>
	<%= link_to 'Life Key', stories_path %>
	<%= link_to 'Profile', contents_path %>
</div>
