<fieldset class="content">
	<div class="content-left">
        <div class="myBox get-started01">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Information</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>
        <div class="myBox get-started01 get-started02">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Options &amp; Type</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>  
        <div class="myBox get-started01 get-started02">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Initial account setup</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>          
    </div>
	<div class="content-box">
		<h1>Please choose your account type</h1>
		<form method="post" action="getting-started2.html">
        <ul class="form-ul">
            <li>
                <label>Login Name<br />
                <input type="text" /></label>
                <em>Your login will be part of the URL for your website.</em>
            </li>
            <li>
                <label>Password<br />
                <input type="password" /></label>
                <em>Select a password to protect your account.</em>
            </li>
            <li>
                <label>Email Address<br />
                <input type="text" /></label>
                <em>Your eail will only be used for account notifications.</em>
            </li>
        </ul>
        
		<ul class="form-ul">
            <li>
                <label>Your Name<br />
                <input type="text" /></label>
                <em>Your login will be part of the URL for your website.</em>
            </li>
            <li>
                <label>Company Name<br />
                <input type="text" /></label>
                <em>Select a password to proect your account.</em>
            </li>
            <li>
                <label>Phone Number<br />
                <input type="text" /></label>
                <em>Your eail will only be used for account notifications.</em>
            </li>
        </ul>
        
		<ul class="form-ul2">
            <li>
                <label>Enter Authentication Code<br />
                <input type="text" /></label>
                <img src="/images/vault/captcha.gif" width="222" height="47" />
                <em>Your login will be part of the URL for your website.</em>
            </li>
        </ul>
        <p class="p1">
		<input type="submit" value="Choose Account Type" id="yellow-button3" />        
        <a href="#">Already Have An Account? Click Here</a><br />
        <input type="checkbox" checked="checked" /> <em>I accept the <a href="#">Terms and Conditions</a></em>
        </p>
        </form>
	</div>
</fieldset>