<fieldset class="content">
	<div class="content-left">
        <div class="myBox get-started01 get-started02">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Information</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>
        <div class="myBox get-started01 get-started02">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" />  Account Options &amp; Type</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>  
        <div class="myBox get-started01">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" />  Initial account setup</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>          
    </div>
	<div class="content-box">
		<h1>Choose your services to backup</h1>

        
	</div>
</fieldset>
