<table width="540" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td style="font-family:arial;font-size:12px;color:#333333;	text-align:justify;line-height:20px;padding-top:10px;">
      <p>
			Welcome to Eternos Vault - the most simple, secure, reliable way to archive all your
      online mail and social media content.
      </p>
		</td>
	</tr>
	<tr>
		<td style="font-family:arial;font-size:12px;color:#333333;text-align:justify;line-height:20px;">
		<p>
		Because Eternos Vault is simple and reliable, our users experience very few issues. But
    if you need us, the Eternos customer service team is available (support@eternos.com) and is
    ready to take care of any issue you may have.
    </p>
    <p>
		  Your Login: <%= @login %>
			<br/>
			Your Homepage: <%= link_to vault_dashboard_url, vault_dashboard_url %>
			<br />
		</td>
	</tr>
	<tr>
		<td style="width:540px;height:1px;background:url(<%= image_path '/email/dotted.gif' %>) repeat-x;margin-top:10px;"></td>
	</tr>
</table>
