#control-template
  /control markup inserted dynamically after each link
  .controls
    .statusbar
      .loading
      .position
  .timing
    #sm2_timing.timing-data
      %span.sm2_position %s1 
      //
      %span.sm2_total %s2
  .peak
    .peak-box
      %span.1
      %span.r

#spectrum-container.spectrum-container
  .spectrum-box
    .spectrum