- fields_for object do |cat_f|
  = cat_f.collection_select :category_id, categories_for_select(categories), :id, :name, {:prompt => "Select Category"}
  or create one:
  = f.text_field :new_category_name, :value => ''

