- form_for :user_session, current_user, :url => logout_path, :method => :get do |f|
  Welcome,
  %strong= current_user.full_name
  - if @facebook_session
    <input type="submit" value="Log Out" onclick="FB.Connect.logoutAndRedirect()"/>
  - else
    = f.submit 'Log Out'