- form_for :user_session, current_user, :url => get_logout_path, :method => :get do |f|
  Welcome,
  %strong= link_to current_user.full_name, member_home_path
  - if @facebook_session
    <input type="submit" value="Log Out" onclick="FB.Connect.logoutAndRedirect()"/>
  - else
    = f.submit 'Log Out'