- form_for_using_ssl user_session, :url => {:controller => 'user_sessions', :action => 'create'} do |f|
  = text_field_tag :login, "Email"
  = password_field_tag :password, "Password"
  = submit_tag 'submit', :value => 'login'