:plain
  <!-- START SCANALERT CODE -->
  <a target="_blank" href="https://www.mcafeesecure.com/RatingVerify?ref=beta.eternos.com"><img width="115" height="32" border="0" src="//images.scanalert.com/meter/beta.eternos.com/12.gif" alt="McAfee Secure sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams" oncontextmenu="alert('Copying Prohibited by Law - McAfee Secure is a Trademark of McAfee, Inc.'); return false;"></a>
  <!-- END SCANALERT CODE -->