- form_tag url, :method => 'get', :class => 'search-form' do
  = text_field_tag :terms, params[:terms], :class => 'search-input withHint', :defaultValue => 'Search'
  = submit_tag("Search", :class => 'search-button') if local_assigns.has_key?(:show_search_button) && show_search_button