- use_autocomplete

= render :partial => 'shared/autocomplete_box', :locals => {:name => local_assigns.has_key?(:fieldname) ? fieldname : (object ? "#{object.to_str}[#{object.new_record? ? :tag_s : :tag_list}]" : 'tag_list'), :value => object ? object.tag_list : '', :default => 'ENTER TAGS', :id => "all_tags"}
%br
= tags_field_description
/= text_field((object.new_record? ? :tag_s : :tag_list), :value => object.tag_list, :defaultValue => 'ENTER TAGS', :class => 'withHint', :autocomplete => "off")


