<% unless @feed_urls.blank? %>
  <br>
  <div class="title7">List of RSS Feeds to Backup</div>
  <table class="table-form7" border="0" cellpadding="0" cellspacing="0">
      <tr bgcolor="#ff984e">
        <td class="coll-form10" bgcolor="#ff984e" align="center">URL</td>
        <td class="coll-form10" bgcolor="#ff984e" align="center">Action</td>
      </tr>
    <% @feed_urls.each do |@feed| -%>
      <tr id="url-list-<%= @feed.id %>">
        <td class="coll-form12" valign="center"><%= in_place_editor_field(:feed, :rss_url) %></td>
        <td class="coll-form12" valign="center"><%= link_to_remote 'Remove', 
                                                      :html => {:class => 'blue-btn4'},
                                                      :url => {:controller => 'backup_sources', :action => 'remove_url', :id => @feed},
                                                      :confirm => 'Are you sure?',
                                                      :loading => "$('progress-bar').show();",
                                                      :complete => "$('progress-bar').hide();" %>    
        </td>
      </tr>
    <% end %>
  </table>
  <br>
<%= will_paginate(@feed_urls) %>
<% end %>
