<% unless @feed_urls.blank? %>
  <br>
  <h5>List of your URLs</h5>
  <table class="table-form2" align="left">
    <% @feed_urls.each do |@feed| -%>
      <tr>
        <td valign="right"></td>
        <td valign="center">:</td>
        <td valign="right"><%= in_place_editor_field(:feed, 'url')%></td>
        <td valign="left"><%= link_to_remote 'Remove', 
                                                      :url => {:controller => 'backup_sources', :action => 'destroy_feed_url', :id => @feed},
                                                      :confirm => 'Are you sure?',
                                                      :loading => "$('progress-bar').show();",
                                                      :complete => "$('progress-bar').hide();" %>    
        </td>
      </tr>
    <% end %>
  </table>
<% end %>