<div id = "accountcreated">
  <h2>account created</h2>
  <div id = "content">
    <h3>Welcome to Eternos!</h3>
    <h4>Congratulations your Eternos account was sucessfully created. Eternos is the premiere website for sharing your life with friends and family.</h4> 
    <h4>A confirmation email has been sent to <a href="#">someone@foo.com</a>. If you don’t see the email that was sent please check your spam folder or <a href="/eternos/account_created">contact support</a>.</h4>
    <h3>Ready to get started?</h3>
    <h4>If you have your login and password please enter it below to begin documenting and sharing your life.  If you have not recieved it yet feel free to leave this page and login to your account by following the directions sent in your email.</h4>
    <p>
      User Name:<br/>
      <input id="x_y" name="x[y]" size="30" type="text" />
    </p>
    <p>
      Password:<br/>
      <input id="x_z" name="x[z]" size="30" type="text" />
    </p>
  </div>
</div>
 
