<div id = "gettingstarted">
  <h2>account information</h2>
  <div id = "content">
    <div id = "left">
      <h3>Welcome to eternos!</h3>
      <h4>Please enter your account information</h4>
      <div class = "row">
          <span class = "label">First Name:</span>
          <span class = "data"><input id="gs_gs_fname" name="gs[gs_fname]" size="30" type="text" /></span>
          <div style = "clear: both;"></div>
      </div>
      <div class = "row">
          <span class = "label">Last Name:</span>
          <span class = "data"><input id="gs_gs_lname" name="gs[gs_lname]" size="30" type="text" /></span>
          <div style = "clear: both;"></div>
      </div>
      <div class = "row">
          <span class = "label">Email Address:</span>
          <span class = "data">
            <input id="gs_gs_email" name="gs[gs_email]" size="30" type="text" /><br/>
            <i>This will serve as your login name, and must be a valid email address.</i>
          </span>
          <div style = "clear: both;"></div>
      </div>
      <div class = "row">
          <span class = "label">Re-enter Email:</span>
          <span class = "data"><input id="gs_gs_email2" name="gs[gs_email2]" size="30" type="text" /></span>
          <div style = "clear: both;"></div>
      </div>
      <div class = "row">
          <span class = "label">Password:</span>
          <span class = "data">
            <input id="gs_gs_pass" name="gs[gs_pass]" size="30" type="password" />
            <i>Mininmum 7 characters</i>
          </span>
          <div style = "clear: both;"></div>
      </div>
      <div class = "row">
          <span class = "label">Re-enter Password:</span>
          <span class = "data"><input id="gs_gs_pass2" name="gs[gs_pass2]" size="30" type="password" /></span>
          <div style = "clear: both;"></div>
      </div>
      <div class = "row">
          <span class = "label">Accept:</span>
          <span class = "data"><input id="gs_gs_accept" name="gs[gs_accept]" type="checkbox" value="1" /><input name="gs[gs_accept]" type="hidden" value="0" /> I accept <a href="#">terms of use</a></span>
          <div style = "clear: both;"></div>
      </div>
    </div>
    <div id = "right">
      <h1>begin sharing your life</h1>
      <h4>Upload and share all of your lifesprecious moments.</h4>
      <h4>Keep family and friends up to date and share in your families growth</h4>
      <h4>Share virtually anything, movies, pictures, documents, music, and more.</h4>


    </div>
<a href="#"><img alt="Gs_continue_button" src="/images/gs_continue_button.png?1230247942" /></a>	
  </div>

</div>
