
<img src="images/body-top2.gif" />
	<div id="content-container2">
	  <div class="main-pic">Screenshot here...not family</div>
	  
    
    <!--<div><%= image_tag 'tl_screenshot.jpg', :width => 360, :height => 300 %></div>-->
    
			<div class="right-container">
        <!--
				<div class="greeting">
				  <font class="blue">ETERNOS.COM</font> Beta launch.
				</div>
				-->
				<div class="textarea">
          <h3>Chronicle your life for your beloved descendants.</h3>
          <br/>
          Feature Highlights
          <br/>
          <div id="features">
            <div class="feature">
        			<div class="feature-title">Automated Backup</div>
        			<div class="feature-text">
        			  Facebook<br/>
          			Blogs/RSS<br/>
                Gmail<br/>
                Twitter<br/>
              </div>
            </div>
            <div class="feature">
        			<div class="feature-title">Visual Timeline</div>
        			<div class="feature-text">
        			  Lorem Ipsum
              </div>
            </div>
            <div class="feature">
        			<div class="feature-title">Life Key</div>
        			<div class="feature-text">
        			  Lorem Ipsum
              </div>
            </div>
            <div class="feature">
        			<div class="feature-title">Life Profile</div>
        			<div class="feature-text">
        			  Lorem Ipsum
              </div>
            </div>
            <div class="feature">
        			<div class="feature-title">Video Diary</div>
        			<div class="feature-text">
        			  Lorem Ipsum
              </div>
            </div>
            <!--
            <div class="feature">
        			<div class="feature-title">Multimedia Blogging</div>
        			<div class="feature-text">
        			  Lorem Ipsum
              </div>
            </div>
            -->
    		  </div>
				</div>
       	</div>
			
      <div class="clear"></div>
      <center>
			<%= link_to "", new_account_path(:plan => 'Basic'), {:id => "start_button", :class => "reg-btn"} %>
			</center>
  </div>
