<img src="images/body-top2.gif" />
	<div id="content-container2">
    	<div class="main-pic">BACK YOUR DATA...ETERNALLY</div>

			<div class="right-container">
				<div class="greeting">WELCOME TO THE <font class="blue">ETERNOS.COM</font> BETA PREVIEW</div>
				<div class="textarea">
					Thank you for coming to Eternos.com and previewing our first public review of our exciting <a href="#" class="blue-btn">Eternal Backup™</a> service!  We will backup your Facebook account, Twitter account, and your blog forever, among many other upcoming features!
					<br /><br />
					Right now we have released just the first two aspects of our service, which are available for FREE (and will remain free!).  Signup today, and we will mail you as we release each new feature over the next several months.  We have a lot in store for you stay tuned!
				</div>

        <%= link_to "", new_account_path, {:class => "reg-btn"} %>
			</div>
			<div class="clear"></div>
  </div>

  