
<img src="images/body-top2.gif" />
	<div id="content-container2">
	  <div class="main-pic">BACKUP YOUR DATA... FOR ETERNITY</div>
    <!--
    <div><%= image_tag 'tl_screenshot.jpg' %></div>
    -->
			<div class="right-container">
				<div class="greeting"><font class="blue">ETERNOS.COM</font> Beta launch.</div>
				<div class="textarea">
          We appreciate you taking the time to visit Eternos.com to participate in the first public review of our revolutionary Life Caching service. We have many more exciting features rolling out in the near future and look forward to getting feedback from you, our Beta testers.
          <br/><br/>
          Eternos provides you with easy-to-use tools and a fully automated Eternos TimeLine™ of your online activity, allowing you to permanently and effortlessly save life's precious moments for future generations.
          <br/><br/>
          We offer a safe and secure Eternal Backup™ of your online persona that includes your Facebook, Twitter, Gmail, and blogs, including pictures, status updates, and more; all tested for security daily by McAfee SECURE™. 
									<br /><br/>
		      Eternos...backing up life's precious moments for eternity.
				</div>
       	</div>
			<div class="clear"></div>
			<center>
			<%= link_to "", new_account_path(:plan => 'Basic'), {:id => "start_button", :class => "reg-btn"} %>
			</center>
  </div>

  