<fb:header>My great application</fb:header>

<fb:tabs>
  <fb:tab-item href='<%= home_url %>' title='Home' selected='true'/>
  <fb:tab-item href='<%= signup_url %>' title='Signup' />
</fb:tabs>

<p>
  Hi there <fb:name uid="loggedinuser" useyou="false" />!
Welcome to
  your first app.
</p>