
<img src="images/body-top2.gif" />
	<div id="content-container2">
    	<div class="main-pic">BACKUP YOUR DATA... FOR ETERNITY</div>

			<div class="right-container">
				<div class="greeting"><font class="blue">ETERNOS.COM</font> Beta launch.</div>
				<div class="textarea">
					Eternos provides easy to use tools for backing up life's precious moments for future generations. Currently we have released the first fundamental aspects of our service.
          Eternos permanently backups your Facebook, Twitter and Gmail accounts as well as all your blogs.
									<br /><br />

					We appreciate you visiting Eternos.com and participating in the first public review of our revolutionary Eternal Backup™ service. We have many more exciting features rolling out in the near-term future. We look forward to getting feedback from our Beta testers.
									<br /><br />
		
					If you have any problems, suggestions, or concerns with our service, please use the handy "FEEDBACK" button that is along the right side of your screen.  We appreciate any and all bug reports, comments, and suggestions you might have!
									<br /><br/>
		      Eternos...backing up life's precious moments for eternity.
				</div>
       	</div>
			<div class="clear"></div>
			<center>
			<%= link_to "", new_account_path(:plan => 'Free'), {:id => "start_button", :class => "reg-btn"} %>
			</center>
  </div>
  
  