<img src="images/body-top2.gif" />
	<div id="content-container2">
    	<div class="main-pic">BACKUP YOUR DATA... FOR ETERNITY</div>

			<div class="right-container">
				<div class="greeting">WELCOME TO THE <font class="blue">ETERNOS.COM</font> BETA PREVIEW</div>
				<div class="textarea">
					Thank you for visiting Eternos.com and participating in the first public review of our exciting <b>Eternal Backup™</b> service! Eternos will backup your Facebook account, Twitter account, your email accounts, and your blog... forever, among many other upcoming features!
									<br /><br />

					Currently we have released the first vital aspects of our service, which are available for FREE! Signup today, and we will mail you as we release each new feature. We have a lot in store for you stay tuned!
									<br /><br />
		
					If you have any problems, suggestions, or concerns with our service, please use the handy "FEEDBACK" button that is along the right side of your screen.  We appreciate any and all bug reports, comments, and suggestions you might have!
									<br />
		
				</div>
       	</div>
			<div class="clear"></div>
			<center>
			<%= link_to "", new_account_path(:plan => 'Free'), {:class => "reg-btn"} %>
			</center>
  </div>

  