<% use_flash %>
<!-- start content -->
<div class="content home">
	<fieldset>
	  <div id="intro_movie">
	<%= 
	#swf_object("/swf/eternos_mainflash02.swf", "intro_movie", :width => 493, :height => 288, 
	#  :params => {:play => "true", :loop => "false", :quality => "high", :menu => "true"}) 
	%>
	<object width="445" height="364"><param name="movie" value="http://www.youtube.com/v/ooG3gZuA7jo&hl=en_US&fs=1&rel=0&color1=0x006699&color2=0x54abd6&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/ooG3gZuA7jo&hl=en_US&fs=1&rel=0&color1=0x006699&color2=0x54abd6&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="445" height="364"></embed></object>
	
	</div>
	
	  <%= render :partial => 'accounts/short_form', :locals => {:plan => AppConfig.default_plan} %>
	  
	<p><strong>Or sign up with your Facebook account</strong></p>
	<p><%= fb_login_button("EternosFB.create_account_form_cb()", :size => :medium, :background => :white, :length => :medium) %></p>
	
	  <div style="clear:both"></div>
	  
		<fieldset>
		  <br/>
			<div class="home02">
				<h2>Video Diary</h2>
				<p>Keep a record of your personal experiences and observations. Your video diary will be an invaluable treasure for your descendants. </p>
				<p><a href="#">View Sample</a></p>
			</div>
			<div class="home03">
				<h2>Automated Backup</h2>
				<p>Automatically back up all your social networking, emails, blogs, and even your RSS feeds.</p>
				<p><a href="#">View Sample</a></p>
			</div>
			<div class="home04">
				<h2>Life Key</h2>
				<p>Enables you to designate trustees that will notify Eternos of your passing. Trustees gain access to your account upon confirmation you have passed on.</p>
				<p><a href="#">View Sample</a></p>
			</div>			
		</fieldset>
		
	</fieldset>
</div>
<!-- end content -->
