<div id = "processing">
  <h2>processing</h2>
  <div id = "content">
    <h3>Processing your payment informaton</h3
    <img alt="Ajax-loader" src="/images/ajax-loader.gif?1228881998" />
    <h4 class = "inline">Be patient. Processing may take several minutes.</h4>
    <p>
      Do not close your brower.   Do not click your back button.   Do not click your stop button.
      When your payment has been processed your will be directed to a a confirmation page.
    </p>
  </div>
</div>
 
