<div id = "select_level">
  <h2>select account</h2>
  <div id = "content">
    <div id = "top">
      <h4>Eternos offers several different account types depending on your needs.  Please review the feature sets below and determine which is correct for you.  You can always upgrade or degrade your account later.</h4>
    </div>
    <div id = "left">
      <div>
				<div class = "button">
					<input type="radio" name="group1" value="basic">
				</div>
				<div class = "blurb">
					<h3>Basic Account <span class = "grey">- FREE</span></h3>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus adipiscing, justo id faucibus tincidunt, tortor lacus interdum dolor, sit amet viverra augue lectus sed quam. Etiam mollis. 
				</div>
				
				<div class="clearer">&nbsp;</div>
				
			</div>					
			<div>
				<div class = "button">
					<input type="radio" name="group1" value="basic">
				</div>
				<div class = "blurb">
					<h3 class="icon-silver-star">Silver Account <span class = "grey">- $XX/Mo</span></h3>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus adipiscing, justo id faucibus tincidunt, tortor lacus interdum dolor, sit amet viverra augue lectus sed quam. Etiam mollis. 
				</div>
				<div class="clearer">&nbsp;</div>
				
			</div>					
			<div>
				<div class = "button">
					<input type="radio" name="group1" value="basic">
				</div>
				<div class = "blurb">
					<h3 class="icon-gold-star">Gold Account <span class = "grey">- $XX/Mo</span></h3>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus adipiscing, justo id faucibus tincidunt, tortor lacus interdum dolor, sit amet viverra augue lectus sed quam. Etiam mollis. 
				</div>
				
				<div class="clearer">&nbsp;</div>
				
			</div>
    </div>
    <div id = "right">
      <table class="plans-table">
				<tr>
					<th class = "clear">
					</th>
					<th class = "basic">
						Basic
					</th>
					<th class = "silver">
						<span class="icon-silver-star">Silver</span>
					</td>
					<th class = "gold">
						<span class="icon-gold-star">Gold</span>
					</th>
				</tr>
				<tr>
					<td class = "title">
						I am a feature set
					</td>
					<td class = "basic">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
					<td class = "silver">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
					<td class = "gold">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
				</tr>
				<tr>
					<td class = "title">
						I am a feature set
					</td>
					<td class = "basic">

					</td>
					<td class = "silver">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
					<td class = "gold">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
				</tr>
				<tr>
					<td class = "title">
						I am a feature set
					</td>
					<td class = "basic">

					</td>
					<td class = "silver">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
					<td class = "gold">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
				</tr>
				<tr>
					<td class = "title">
						I am a feature set
					</td>
					<td class = "basic">

					</td>
					<td class = "silver">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
					<td class = "gold">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
				</tr>
				<tr>
					<td class = "title">
						I am a feature set
					</td>
					<td class = "basic">

					</td>
					<td class = "silver">

					</td>
					<td class = "gold">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
				</tr>
				<tr>
					<td class = "title">
						I am a feature set
					</td>
					<td class = "basic">

					</td>
					<td class = "silver">

					</td>
					<td class = "gold">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
				</tr>			
				<tr class = "bottom">
					<td class = "title">
						I am a feature set
					</td>
					<td class = "basic">

					</td>
					<td class = "silver">

					</td>
					<td class = "gold">
						<img alt="Icon-checkbox" src="/images/icon-checkbox.png?1230453039" />
					</td>
				</tr>
			</table>
			
			
    </div>
  </div>
</div>
