- stylesheet 'image_gallery'
- use_jquery :js_libs
- javascript 'image_gallery'
!!!
%html
  %head
    %title Image Gallery
    = yield(:head)
    = yield(:js_libs)
  %body
    %h1 Image Gallery
    #content
    #controls
      #views
        %a#grid.selected{:href => '#'} Grid
        %a#mosaic{:href => "#"} Mosaic
      #slider
    :javascript
      var albums = #{@albums};
    = yield(:javascript)
    