- use_lowpro
- use_prototip
- title 'Member Home'
= javascript_tag "window._token = '#{form_authenticity_token}'; var lightview_height = 0.9*window.innerHeight"
- javascript('account_setup')
= javascript_include_tag "scroller", "slider"
- stylesheet "popup"
- use_lightview

%h3 Timeline Page

For our July 15th launch, we are placing the YourLife Timeline page here.

%br
%br

%li Diary, Messages, Profile, People pages will be disabled until those features are complete
%li First time the user logs in, we are going to auto-pop up the account setup lightbox
%li THE ONLY FUNCTIONALITY for July 15th release is: ACCOUNT SETUP, TIMELIME, FEEDBACK
%li We will perfect these CORE features, and then every 2 weeks start releasing all SUPPLEMENTARY FEATURES