/- stylesheet 'search', 'timeline'
/- use_busy
/- use_flashplayer

/#user-search-box= render :partial => 'shared/search_box', :locals => {:url => user_search_path, :show_search_button => true}
#search-results-header
  .results-title
    %h3== Search results for '#{h params[:terms]}'
  .results-stats
    %strong= pluralize(@results.size, 'result')
%p
#results-config

#search-results
  - if @results.any?
    = render :partial => 'result', :collection => @results
  - else
    The search database is updated every 4 hours.  If you recently added some content, please wait a few hours and try again.
#search-results-footer
