- stylesheet 'search'

#user-search-box= render :partial => 'shared/search_box', :locals => {:url => user_search_path, :show_search_button => true}
%p
%br
#search-results-header
  .results-title
    %h3== Search results for '#{h params[:terms]}'
  .results-stats
    = pluralize(@results.size, 'result')
#results-config
#search-results= render :partial => 'result', :collection => @results
#search-results-footer
