<%= image_tag "errors/body-top2.gif" %>
<div id="content-container2">
  <div id="bg3">
     <div class="notification-box3">
       Eternos.com is Temporarily Unavailable
     </div>
	 <div class="notification-box4">
       Please visit <a href="http://www.eternosfoundation.com" class="text-btn">http://www.eternosfoundation.com</a> or read our blog at <a href="http://blog.eternos.com" class="text-btn">http://blog.eternos.com</a>
      </div>
	 <div style="clear:both"></div>
  </div>
</div>
