.top-box2
  .acc-title Details For Timeline Events
#details_content.data.makeScroll
  = render :partial => @events

:javascript
  document.observe('dom:loaded', function() {
    setDinamycHeight('details_content');
  });
