<% title "Edit Twitter Activity Stream Item" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @twitter_activity_stream_item %> |
  <%= link_to "View All", twitter_activity_stream_items_path %>
</p>
