.artifact.audio{:id=> dom_id(item), :src => item.url, :duration => item.duration_seconds}
  %li= link_to truncate(audio.to_s, :length => 30), audio_url(audio, :format => :mp3)
  .info.title.hidden
    = item.to_s