%li.artifact.audio{:id=> dom_id(item), :src => item.url, :duration => item.duration_seconds}
  - link_to item.url, :class => 'sm2_link' do
    %span.handle [drag]
    = truncate(item.to_s, :length => 30)
  %span filename.mp3
  %span '00:00:00'