.decoration_item.audio{:id=> dom_id(item), :src => item.url, :duration => item.duration_seconds}
  = image_tag item.content_icon
  %br
  %span.title= truncate(item.title, :length => 20)
  .info.title.hidden
    = item.to_s