- if item.thumbnail_url
  .decoration_item[item]
    = image_tag item.thumbnail_url, :height => 75, :alt => item.title
    %br
    %span{:style => "font-size: x-small;"}= truncate(item.title, :length => 20)