%h2 Share your Memento with your friends & family by sending them this URL

%form
  %input#linking-code{:size => 100, :value=>"#{memento_url(@memento.uuid)}"}
  #d_clip_button
  
:javascript
  // Copy-to-clipboard code
  var clip = new ZeroClipboard.Client();
  clip.glue( 'd_clip_button' );
  clip.setText( $('linking-code').value );
