%h2 Share your Memento with your friends & family by sending them this URL

#memento-linking-code
  %form#linking-code-form
    #line{:style => "float: left;"}
      #in{:style => "float: left;"}
        %input#linking-code{:size => 100, :value=>"#{memento_url(@memento.uuid)}"}
      #d_clip_button{:style => "float: right;"}
    .clear
%p.mementos-p Use the buttons below to share from your favorite social network!

#sharethis
  <a id="ck_email" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/email.gif" /></a>
  <a id="ck_facebook" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/facebook.gif" /></a>
  <a id="ck_twitter" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/twitter.gif" /></a>
  <a id="ck_sharethis" class="stbar chicklet" href="javascript:void(0);"><img src="http://w.sharethis.com/chicklets/sharethis.gif" />ShareThis</a>
  
:javascript
  $('linking-code').observe('click', function(e) { e.target.select(); });
  // Copy-to-clipboard code
  var clip = new ZeroClipboard.Client();
  var mem_url = '#{memento_url(@memento.uuid, :r=>'st')}';
  clip.glue( 'd_clip_button' );
  clip.setText( mem_url );
  // Sharethis code
  var shared_object = SHARETHIS.addEntry({
    title: 'Watch my Eternos.com Memento movie',
    summary: 'Check out my Memento: #{escape_javascript(@memento.title)}',
    url: mem_url
  });

  shared_object.attachButton(document.getElementById("ck_sharethis"));
  shared_object.attachChicklet("email", document.getElementById("ck_email"));
  shared_object.attachChicklet("facebook", document.getElementById("ck_facebook"));
  shared_object.attachChicklet("twitter", document.getElementById("ck_twitter"));
