- if @contents.any?
  .artifacts_list
    -# Render grid for photos, list for audio, scroller for everything else
    - if @contents.first.kind_of? Audio
      .artifact_list.items
        %ul.graphic
          = render :partial => 'mementos/audio', :collection => @contents, :as => :item
    - else
      - if [BackupPhotoAlbum, Album].include?(@contents.first.class)
        %h3== These are photo albums, dog.  Click on one to see the individual photos.
      
      .navi
      %a.prevPage.browse.left
      .arti-scroller.scrollable
        / root element for the items
        .artifact_list.items
          = render :partial => "mementos/#{@contents.first.to_str}", :collection => @contents, :as => :item
      %a.nextPage.browse.right
  .clear
  .artifact_info
  - case @contents.first
  - when BackupPhotoAlbum, Album
    #artifacts_expanded_view
  - when WebVideo
    .instructions
      Drag videos from above to the box below to create your movie.
  - when Audio, Music
    .instructions
      Drag audio links from above to the soundtrack box to create your movie soundtrack.
- else
  .artifacts_list_empty
    No Files
:javascript
  editor.refreshSelector();
  
