#unsubscribe{:style=>"text-align:center;"}
  %h1== Unsubscribed

  .notice== You have successfully unsubscribed <strong>#{@email.email}</strong> from our mailing list
  
  %p= link_to 'Eternos Home', root_url