%a#nav_help.tooltip-target{:rel => "{title: 'Timeline Help', showOn: 'click', stem: 'bottomRight', hook: { target: 'topLeft', tip: 'bottomRight'}}"} Help
#nav_tip.tooltip
  To browse events in your Timeline, hold your mouse over the icons for a preview.  
  %br
  Click the icons for full details, or click an individual item inside the preview window.
  %br
  To navigate the Timeline: Drag it left or right, use the mouse scroll wheel, or the arrow keys, or double click on a date.
  %br
  Click the arrows around the month & year dates to browse nearby months or years.
