		<span class="subtitle1"><%= full_name %>:</span>
    <span class="subtitle2">YourLife TimeLine(tm)</span>
    <div class="timelinebox">
      <div id="my-timeline" style="height:375px;border: 1px solid #aaa;">
        <noscript>This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.</noscript>
      </div>
    </div>
		<div class="dotline"></div>
