%a#nav_help.tooltip-target{:href => "#", :rel => "{title: 'Where is my data?', showOn: 'click', stem: 'bottomLeft', hook: { target: 'topRight', tip: 'bottomLeft'}}"} Where is my data?
#nav_tip.tooltip
  Please wait up to 24 hours for your online activity to appear in your timeline. If you haven't activated the archiving of one or more of our partner services, please go to 
  = link_to 'Account Setup', account_setup_path
  and do so now.
  