<% use_timeline %>

  <div id="content-container3">
    <div id="timeline-top">
      <span class="subtitle1"><%= @member_name %>:</span>
      <span class="subtitle2">Your TimeLine(tm)</span>
      <div class="timelinebox">
        <div id="my-timeline" style="height:375px;border: 1px solid #aaa;"></div>
        <noscript>This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.</noscript>
      </div>
      <span><font style="font-size: x-small">To navigate the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</font>
  		<div class="dotline"></div>
    </div>
    <div id="timeline-detail">
      <div id="month-selector"></div>
  		<div style="clear:both"></div>
      <div id="story-area"></div>
      <div id="arti-area"></div>			            
  		<div style="clear:both"></div>
    </div>
  </div>

<%= javascript_tag "
Event.observe(window, 'dom:loaded', function() {
  new ETimeline({month_selector_id: 'month-selector',
    artifact_section_id: 'arti-area',
    events_section_id: 'story-area',
    timeline_section_id: 'my-timeline',
    timeline: {
      memberID: #{current_user.id}, 
      startDate:'#{@tl_start_date}', 
      endDate: '#{@tl_end_date}', 
      options: {
        max_results: 100
        #{if @fake; ', fake: true' end}
      }
    }
  }).draw();
});
" %>
