<% use_timeline %>
<% javascript 'jsProgressBarHandler' %>

<% header '<span class="subtitle1">' + @member_name + ':</span><span class="subtitle2">Your TimeLine(tm)</span>' 
%>
<div id="content-container3">
  <div id="timeline-top">
    <div id="backups" class="backup-container">
      <%= render :partial => 'backup_bars', :locals => {:backups => @backups} 
      %>
    </div>
    
    <div id="flash_notice" style="display: none"></div>
    <div id="flash_error" style="display: none"></div>
    
    <div class="timelinebox">
      <div id="my-timeline" style="height:375px;border: 1px solid #aaa;"></div>
      <noscript>This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.</noscript>
    </div>
    <div id="debug_box" class="debug_container"></div>
    <div>
     <span class="tl_helptext" id="nav_help">Help</span>
    </div>
    
    <span id="nav_tip" style="display: none">
      To browse events in your Timeline, hold your mouse over the icons for a preview.  
      <br/>
      Click the icons for full details, or click an individual item inside the preview window.
      <br/>
      To navigate the Timeline: Drag it left or right, use the mouse scroll wheel, or the arrow keys, or double click on a date.
      </span>
    <%= javascript_tag "new Tip($('nav_help'), $('nav_tip'), {
    title: 'Timeline Help',
    width: '400px',
		border: 6,
		borderColor: '#74C5FF',
		fixed: true,
		hideOthers: true,
		viewport: true,
		closeButton: true,
		hideOn: { element: 'tip', event: 'mouseout' }
    });" %>
    
		<div class="dotline"></div>
  </div>
  <div id="timeline-detail">
    <span class="tl_helptext tooltip" style="display: none;">Click the arrows around the dates to browse nearby months or years.</span>
    <div id="month-selector"></div>
		<div style="clear:both"></div>
    <div id="story-area"></div>
    <div id="arti-area"></div>			            
		<div style="clear:both"></div>
  </div>
  <br/>
  <div id="timeline-footer" class="tl_helptext">
  <span class="tl_helptext">
    If you have any problems, suggestions, or concerns with our service, please use the "FEEDBACK" button that is along the right side of your screen.  We welcome any feedback you might have!
  </span>
  </div>
</div>

<%= javascript_tag("
document.observe('dom:loaded', function() {
  new ETimeline({month_selector_id: 'month-selector',
    artifact_section_id: 'arti-area',
    events_section_id: 'story-area',
    timeline_section_id: 'my-timeline',
    timeline: {
      memberID: #{current_user.id}, 
      startDate:'#{@tl_start_date}', 
      endDate: '#{@tl_end_date}', 
      options: {
        max_results: 100
        #{if @fake; ', fake: true' end}
      }
    }
  }).draw();
});
") unless @hide_timeline %>

