= use_timeline_js

#my-timeline{:style=> "height: 150px; border: 1px solid #aaa"}
  %noscript
    This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.

= populate_timeline_events(@member, 'fake')