<% use_timeline %>
<% use_prototip %>
<% use_lightview %>

	<div id="content-container3">
	  <div id="timeline-top">
      <%= render :partial => 'timeline', :locals => {:full_name => @member_name} %>    
    </div>
    <div id="timeline-detail" style="display:none;">
  		<span class="subtitle1">Backup</span>
      <span class="subtitle2">Status</span>
  		<br /><br />
  		<table width="860" cellspacing="0" cellpadding="0" border="0">
  			<tr>
  				<td valign="top" class="backup-box">
  					<img src="/images/fb-small.gif" /><br />
  					<div class="progress-bar"><img src="/images/progress-bar.gif" /></div>
  					<div class="percen-text">100%</div>
  				</td>
  				<td class="vline1"></td>
  				<td valign="top" class="backup-box">
  					<img src="/images/twitter-small.gif" /><br />
  					<div class="progress-bar"><img src="/images/progress-bar.gif" /></div>
  					<div class="percen-text">100%</div>
  				</td>
  				<td class="vline1"></td>
  				<td valign="top" class="backup-box">
  					<img src="/images/flickr-small.gif" /><br />
  					<div class="progress-bar"><img src="/images/progress-bar.gif" /></div>
  					<div class="percen-text">100%</div>
  				</td>
  				<td class="vline1"></td>
  				<td valign="top" class="backup-box">
  					<img src="/images/email-small.gif" /><br />
  					<div class="progress-bar"><img src="/images/progress-bar.gif" /></div>
  					<div class="percen-text">100%</div>
  				</td>
  			</tr>
  		</table>
  		<div class="dotline"></div>
  		<a href="#" class="btn-left"></a>
  		<span class="subtitle6">December</span>
      <span class="subtitle7">2010</span>
  		<a href="#" class="btn-right"></a>
  		<div style="clear:both"></div>
  		
  		<div id="story-area"></div>

  		<div id="arti-area"></div>
      
  		<div style="clear:both"></div>
    </div>
  </div>

<%= load_timeline(@member, 'fake') %>
<%#= periodically_call_remote(:url => backup_progress_backup_source_path, :frequency => '5', :update => 'div-id-of-progress-bar') %>