<% use_timeline %>
<% use_prototip %>
<% use_lightview %>

  <div id="content-container3">
    <div id="timeline-top">
      <%= render :partial => 'timeline', :locals => {:full_name => @member_name} %>    
    </div>
    <div id="timeline-detail" style="">
  		<div class="dotline"></div>
  		<a href="#" class="btn-left"></a>
  		<span class="subtitle6">December</span>
      <span class="subtitle7">2010</span>
  		<a href="#" class="btn-right"></a>
			
  		<div style="clear:both"></div>
  		
      <div id="story-area">
        <div class="storybox-top">
          <div class="title5">Events</div>
        </div>
        <div class="storybox" id="timeline-event">
        	<p>Loading Events..</p><br/>
        </div>
			</div>

      <div id="arti-area">
        <div class="artibox-top">
          <div class="title5">Artifacts</div>
        </div>
        <div class="artibox">
        	<p>Loading Artifacts..</p><br/>
        </div>
      </div>			       
      
  		<div style="clear:both"></div>
    </div>
  </div>

<div id="another-timeline"></div>
<script type="text/javascript">
  var timeline = new ETLBase('my-timeline', {memberID:2, startDate:'1970-07-28', endDate:'2009-04-28', options:'fake'});
</script>
