<% use_timeline %>
<% use_prototip %>
<% use_lightview %>

  <div id="content-container3">
    <div id="timeline-top">
      <%= render :partial => 'timeline', :locals => {:full_name => @member_name} %>    
    </div>
    <div id="timeline-detail">
      <div id="month-selector"></div>
  		<div style="clear:both"></div>
      <div id="story-area"></div>
      <div id="arti-area"></div>			            
  		<div style="clear:both"></div>
    </div>
  </div>

<style type="text/css">
	.visible-artifact-item{}
	.hidden-artifact-item{display:none}
</style>

<script type="text/javascript">
  new ETLBase('my-timeline', {memberID:<%= current_user.id %>, startDate:'1978-04-28', endDate:'2009-04-29', options:'fake/max_results=20/artifact'});
  new ETLMonthSelector('month-selector');
  new ETLEventSection('story-area');
  new ETLArtifactSection('arti-area');
</script>

