<% use_lightview %>
<% use_prototip %>
<% use_busy %>
<% use_timeline %>

  <div id="content-container3">
    <div id="timeline-top">
      <%= render :partial => 'timeline', :locals => {:full_name => @member_name} %>    
    </div>
    <div id="timeline-detail">
      <div id="month-selector"></div>
  		<div style="clear:both"></div>
      <div id="story-area"></div>
      <div id="arti-area"></div>			            
  		<div style="clear:both"></div>
    </div>
  </div>

<%= javascript_tag "
  new ETimeline({month_selector_id: 'month-selector',
    artifact_section_id: 'arti-area',
    events_section_id: 'story-area',
    timeline_section_id: 'my-timeline',
    timeline: {
      memberID: #{current_user.id}, 
      startDate:'#{@tl_start_date}', 
      endDate: '#{@tl_end_date}', 
      options: {
        max_results: 100
        #{if @fake; ', fake: true' end}
      }
    }
  }).draw();
" %>
