<%= use_timeline_js %>
	<div id="content-container3">
		<span class="subtitle1"><%= @member.full_name %>:</span>
    <span class="subtitle2">YourLife TimeLine(tm)</span>
    <div class="timelinebox">
      <div id="my-timeline" style="height:300px;border: 1px solid #aaa;">
        <noscript>This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.</noscript>
      </div>
    </div>
		<div class="dotline"></div>
		<span class="subtitle1">Backup</span>
    <span class="subtitle2">Status</span>
		<br /><br />
		<table width="860" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="top" class="backup-box">
					<img src="/images/fb-small.gif" /><br />
					<div class="progress-bar"><img src="images/progress-bar.gif" /></div>
					<div class="percen-text">100%</div>
				</td>
				<td class="vline1"></td>
				<td valign="top" class="backup-box">
					<img src="/images/twitter-small.gif" /><br />
					<div class="progress-bar"><img src="images/progress-bar.gif" /></div>
					<div class="percen-text">100%</div>
				</td>
				<td class="vline1"></td>
				<td valign="top" class="backup-box">
					<img src="/images/flickr-small.gif" /><br />
					<div class="progress-bar"><img src="images/progress-bar.gif" /></div>
					<div class="percen-text">100%</div>
				</td>
				<td class="vline1"></td>
				<td valign="top" class="backup-box">
					<img src="/images/email-small.gif" /><br />
					<div class="progress-bar"><img src="images/progress-bar.gif" /></div>
					<div class="percen-text">100%</div>
				</td>
			</tr>
		</table>
		<div class="dotline"></div>
		<a href="#" class="btn-left"></a>
		<span class="subtitle6">December</span>
    <span class="subtitle7">2010</span>
		<a href="#" class="btn-right"></a>
		<div style="clear:both"></div>
		
		<div id="story-area">
			<div class="storybox-top">
				<div class="title5">Story</div>
			</div>
			<div class="storybox">
				<div class="story-subox">
					<img src="images/image1.jpg" class="thumnails1" />
					<div class="story-detail-box">
						<div class="story-detail-title">Story Title 1</div>
						<div class="story-detail-date">December 21, 2010</div>
						<div class="story-detail-subject">
							Subject :<a href="#" class="story-subject-btn">Vacation</a>,&nbsp;<a href="#" class="story-subject-btn">Friends</a>
						</div>
					</div>
				</div>
				
				<div class="story-subox">
					<img src="images/image1.jpg" class="thumnails1" />
					<div class="story-detail-box">
						<div class="story-detail-title">Story Title 1</div>
						<div class="story-detail-date">December 21, 2010</div>
						<div class="story-detail-subject">
							Subject :<a href="#" class="story-subject-btn">Vacation</a>,&nbsp;<a href="#" class="story-subject-btn">Friends</a>
						</div>
					</div>
				</div>
				<br />
				<div class="story-subox">
					<img src="images/image1.jpg" class="thumnails1" />
					<div class="story-detail-box">
						<div class="story-detail-title">Story Title 1</div>
						<div class="story-detail-date">December 21, 2010</div>
						<div class="story-detail-subject">
							Subject :<a href="#" class="story-subject-btn">Vacation</a>,&nbsp;<a href="#" class="story-subject-btn">Friends</a>
						</div>
					</div>
				</div>
				
				<div class="story-subox">
					<img src="images/image1.jpg" class="thumnails1" />
					<div class="story-detail-box">
						<div class="story-detail-title">Story Title 1</div>
						<div class="story-detail-date">December 21, 2010</div>
						<div class="story-detail-subject">
							Subject :<a href="#" class="story-subject-btn">Vacation</a>,&nbsp;<a href="#" class="story-subject-btn">Friends</a>
						</div>
					</div>
				</div>
				<br />
				<div class="story-subox">
					<img src="images/image1.jpg" class="thumnails1" />
					<div class="story-detail-box">
						<div class="story-detail-title">Story Title 1</div>
						<div class="story-detail-date">December 21, 2010</div>
						<div class="story-detail-subject">
							Subject :<a href="#" class="story-subject-btn">Vacation</a>,&nbsp;<a href="#" class="story-subject-btn">Friends</a>
						</div>
					</div>
				</div>
				
				<div class="story-subox">
					<img src="images/image1.jpg" class="thumnails1" />
					<div class="story-detail-box">
						<div class="story-detail-title">Story Title 1</div>
						<div class="story-detail-date">December 21, 2010</div>
						<div class="story-detail-subject">
							Subject :<a href="#" class="story-subject-btn">Vacation</a>,&nbsp;<a href="#" class="story-subject-btn">Friends</a>
						</div>
					</div>
				</div><div style="clear:both"></div>
			</div>
			<img src="/images/storybox-bottom.gif" />
		</div>
		
		<div id="arti-area">
			<div class="artibox-top">
				<div class="title5">Artifacts</div>
			</div>
			<div class="artibox">
				<img src="images/image1.jpg" class="thumnails2" />
				<img src="images/image1.jpg" class="thumnails2" />
				<img src="images/image1.jpg" class="thumnails2" />
				<br />
				<img src="images/image1.jpg" class="thumnails2" />
				<img src="images/image1.jpg" class="thumnails2" />
				<img src="images/image1.jpg" class="thumnails2" />
				<br />
				<img src="images/image1.jpg" class="thumnails2" />
				<img src="images/image1.jpg" class="thumnails2" />
				<img src="images/image1.jpg" class="thumnails2" />
				<div style="clear:both"></div>
				
			</div>
			<img src="/images/artibox-bottom.gif" />
		</div>
		<div style="clear:both"></div>
  </div>
<%= load_timeline(@member, 'fake') %>