%p
  %h4 You have brand new data to view in your account!
%br
%p
  We have successfully backed up your first set of data using your account setup information.
  %br
  Now you can view your data from your Member account Timeline.
%p
%br
= link_to 'Show my Timeline', member_home_url(:host => AppConfig.base_domain)
%br
