<div id="topbar">
    	<div class="title1">About Us</div>
    </div>
    <div id="content-container">
    	<table class="table1">
        	<tr>
            	<%= render :partial => 'left_nav' %>
                <td class="col2" valign="top">&nbsp;</td>
                <td class="col3" valign="top">
                	<span class="subtitle1">Company:</span>
                    <span class="subtitle2">About</span>
                    <span class="subtitle1">Us</span>
                    <br /><br />
					<div class="textarea8">
                       Eternos was founded in 2007 by three technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data.  At that time, all solutions were very manual and laborious, and there was no guarantee for eternal preservation.  
					<br /><br />
					By 2008, Eternos had pioneered the concept of permanent storage for our users' memories, important documents, and advanced visualization tools including our patent pending <b>YourLife Timeline&trade;</b> and <b>The Eternos Guarantee&trade;</b>.  Our <b><%= link_to "Eternos Foundation", "/about/foundation" %>&trade;</b> has been created in such a way, legally and financially, to steward your important data permanently and eternally into the future.
                    </div>
                    <div style="clear:both"></div>
 					<br /><b>
                    <span class="subtitle4">Mission</span>
                    <span class="subtitle3">Statement</span>
								</b>
					<br />
					<div class="textarea8">
                    	Eternos makes its mission to provide our users with tools that allow for the easiest gathering and storage of all personal documents, including photos, videos, email, legal documents, and more.  Our purpose is to allow for <b>Eternal Backup&trade;</b> for your data, ensuring that your digital assets can survive to future generations hundreds of years into the future.  We will provide and continue to pioneer the best in data gathering, visualization, storage, and replication tools to deliver on our promise.
                    </div>
					<div style="clear:both"></div>
					<div class="list2">
         			&nbsp;
                    </div>
                    <div style="clear:both"></div>
                </td>
            </tr>
         </table>
    </div>
    <div style="clear:both"></div>
    <%#= image_tag "body-bottom.png" %>
