<div id="topbar">
    	<div class="title1">About Us</div>
    </div>
    <div id="content-container">
    	<table class="table1">
        	<tr>
            	<%= render :partial => 'left_nav' %>
                <td class="col2" valign="top">&nbsp;</td>
                <td class="col3" valign="top">
                	<span class="subtitle1">Company:</span>
                    <span class="subtitle2">About</span>
                    <span class="subtitle1">Us</span>
                    <br /><br />
					<div class="textarea8">
                       Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data.  At that time, all solutions were very manual and laborious, and there was no guarantee for eternal preservation.  
					<br /><br />
					  
   				 <div class="nametext1"><b>Marc Mauger</b>, CTO, Co-founder</div>
                       <div class="textarea3">
   	 				<div style="float: right; margin: 8px 8px 8px 8px;">
   						<script type="text/javascript" src="http://files.brightcove.com/js/swfobject.js"></script>
   											<script type="text/javascript">
   												var flashvars = {playFile: "management-jeremy-allaire.flv"};
   												swfobject.embedSWF("http://files.brightcove.com/video-player.swf", "videoPlayer2", "140", "105", "6.0.0","http://files.brightcove.com/expressinstall.swf", flashvars);
   											</script>
   											<div class="flv">
   												<span id="videoPlayer2"></span>
   											</div>
   						</div>
                       Marc Mauger is a Seattle native, attending the University of Washington Computer Science program.  After college and for the past eleven years, Marc has spent his time as a developer, manager, visionary, architect, and general Internet guru across multiple media platforms, languages, technologies, and architectures.  Marc is an open source enthusiast and has guided Eternos from concept to a high capacity, secure Ruby on Rails application prepared for tremendous growth.  Marc is most passionate about providing services that will have a lasting value for it's users.
                       
   					
                    </div>
                    <div style="clear:both"></div>
 					<br /><b>
                    <span class="subtitle4">Mission</span>
                    <span class="subtitle3">Statement</span>
								</b>
					<br />
					<div class="textarea8">
            Our mission is to provide our users with tools that allow for easy chronicling of their life and times. Our aim is to offer a 3 generation guarantee for data, ensuring that digital assets can survive for future generations.
            <br/>
            <br/>
            We'd like to thank the friends that have taken a look at Eternos.com.  We sincerely hope you use the service and derive as much benefit as possible from our offering.
                    </div>
					<div style="clear:both"></div>
					<div class="list2">
         			&nbsp;
                    </div>
                    <div style="clear:both"></div>
                </td>
            </tr>
         </table>
    </div>
    <div style="clear:both"></div>
    <%#= image_tag "body-bottom.png" %>
