<div id="topbar">
    	<div class="title1">Contact Us</div>
    </div>
    <div id="content-container">
    	<table class="table1">
        	<tr>
            	<%= render :partial => 'left_nav' %>
                <td class="col2" valign="top">&nbsp;</td>
                <td class="col3" valign="top">
                	<span class="subtitle1">Company:</span>
                    <span class="subtitle2">Contact</span>
                    <br /><br />
                    <div class="textarea3">
                    	Please contact us!  We enjoy hearing from our users, prospective partners, media, and advertisers.
                 			<br /><br />
											<div style="float:right; margin: 8px 8px 8px 15px;">
												<iframe width="425" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=411+University+Street,+Seattle,+WA+98101&amp;sll=47.611552,-122.333708&amp;sspn=0.007797,0.022745&amp;ie=UTF8&amp;ll=47.617909,-122.330017&amp;spn=0.007797,0.022745&amp;t=h&amp;z=14&amp;msa=0&amp;msid=102076660601193536456.0004686c8d2ab6a3efb2e&amp;output=embed"></iframe>
												<br />
												<small>View <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=411+University+Street,+Seattle,+WA+98101&amp;sll=47.611552,-122.333708&amp;sspn=0.007797,0.022745&amp;ie=UTF8&amp;ll=47.617909,-122.330017&amp;spn=0.007797,0.022745&amp;t=h&amp;z=14&amp;msa=0&amp;msid=102076660601193536456.0004686c8d2ab6a3efb2e" style="color:#0000FF;text-align:left">in a larger map</a>.
												</small>
											</div>
                      <div class="textarea5">
                       	Eon Digital Preservation, Inc<br />
							 					411 University St.<br />
							 					Seattle, WA  98101<br /><br />
                        Tel 	: 206-399-7957<br />
                        Fax	: 206-xxx-xxxx<br />
                        Email : <a href="#">sales@eternos.com</a><br />
                      </div>
											<br />
											<div class="textarea5">
						 						We are open for business every Monday - Friday, 9am - 5pm, Pacific Time.
											</div>
                      <div style="clear:both"></div>
                    </div>
										<div class="list2">
         							&nbsp;
                    </div>
                    <div style="clear:both"></div>
                </td>
            </tr>
         </table>
    </div>
    <div style="clear:both"></div>
    <img src="images/body-bottom.png"  />
