<div class="content contact">
  <fieldset>
    <div class="what01">
      Please contact us!  We enjoy hearing from our users, prospective partners, media, and advertisers.
      <br /><br />
      <div style="margin: 8px 8px 8px 15px;">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4757+48th+Ave+SW,+Seattle,+WA+98116&amp;sll=37.0625,-95.677068&amp;sspn=55.411532,50.712891&amp;ie=UTF8&amp;z=14&amp;iwloc=A&amp;ll=47.568535,-122.389755&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4757+48th+Ave+SW,+Seattle,+WA+98116&amp;sll=37.0625,-95.677068&amp;sspn=55.411532,50.712891&amp;ie=UTF8&amp;z=14&amp;iwloc=A&amp;ll=47.568535,-122.389755" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
      <div class="">
        Eon Digital Preservation, Inc<br />
        4757 48th Ave SW<br />
        Seattle, WA  98116<br /><br />
        Tel 	: (206) 455-9946<br />
        <!--Fax	: 206-xxx-xxxx<br />-->
        Email : <a href="#">contact@eternos.com</a><br />
      </div>
      <br />
      <div class="">
        We are open for business every Monday - Friday, 9am - 5pm, Pacific Time.
      </div>
      <div style="clear:both"></div>
    </div>
  </fieldset>
</div>