<div id="topbar">
    	<div class="title1">Foundation</div>
    </div>
    <div id="content-container">
    	<table class="table1">
        	<tr>
            	<%= render :partial => 'left_nav' %>
                <td class="col2" valign="top">&nbsp;</td>
                <td class="col3" valign="top">
                	<span class="subtitle1">Company:</span>
                    <span class="subtitle2">Foundation</span>
                    <br /><br />
                    <div class="textarea1">
                    	Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
                    </div>
                    <div class="list1">
                    	<div class="dot"><%= image_tag "dot.gif" %></div>
                        <div class="textarea4">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="list1">
                    	<div class="dot"><%= image_tag "dot.gif" %></div>
                        <div class="textarea4">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="list1">
                    	<div class="dot"><%= image_tag "dot.gif" %></div>
                        <div class="textarea4">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
                    </div>
                    <div style="clear:both"></div>
                </td>
            </tr>
         </table>
    </div>
    <div style="clear:both"></div>
    <img src="images/body-bottom.png"  />