<!-- start content -->
<div class="content about">
	<fieldset>
		<div class="about01">
			<h1>About Eternos</h1>
			<p>Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious, and there was no guarantee for eternal preservation.</p>
		    <p>Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious, and there was no guarantee for eternal preservation.</p>
		</div>
		
		<div class="about02">
			<h2>Our mission is to provide our users with tools that allow for easy chronicling of their life and times. Our aim is to offer a 3 generation guarantee for data, ensuring that digital assets can survive for future generations.</h2> 		
		</div>
		
		<hr />
		
		<div class="about03">
			<h3>Meet the Eternos Team</h3>
			<p>
			   <img src="/images/team.jpg" />
			   <strong>Marc Mauger, President</strong><br />
			   Marc Mauger is a Seattle native who has spent his time as a developer, manager, visionary, architect, and general Internet guru across multiple media.		
			</p>  
			<p>
			   <img src="/images/team.jpg" />
			   <strong>Eric Rogers, Sales & Marketing</strong><br />
			   Eric Rogers blah blah blah
			</p>  			 
		</div>
		
		<div class="about04">
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
		</div>
		
		<div class="about04">
			
		</div>
	</fieldset>
</div>
<!-- end content -->
