<div class="container2">
<div id="topbar">
  <div class="title1">About Us</div>
</div>

<div id="content-container">
  <table border="0" cellspacing="0" cellpadding="0" width="800">
    <tr>
      <%= render :partial => 'left_nav' %>
      <td class="col2" valign="top">&nbsp;</td>
      <td class="col3" valign="top">
       	<span class="subtitle1">Company :</span>
        <span class="subtitle2">Executive</span>
        <span class="subtitle1">Team</span>
        <br /><br />
        <div class="textarea1">
          	Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
         </div>
         <div class="list1">
           <div class="dot"><%=  image_tag("dot.gif") %> </div>
           <div class="textarea2">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
         </div>
         <div style="clear:both"></div>
         <div class="list1">
           <div class="dot"><%=  image_tag("dot.gif") %></div>
           <div class="textarea2">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
         </div>
         <div style="clear:both"></div>
         <div class="list1">
           <div class="dot"><%=  image_tag("dot.gif") %></div>
           <div class="textarea2">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
         </div>
         <div style="clear:both"></div>
       </td>
     </tr>
   </table>
 </div>
 <div style="clear:both"></div>
</div>
 <%#=image_tag("body-bottom.png")%>
