<!-- start content -->
<div class="content about">
	<fieldset>
		<div class="about01">
			<h1>About Eternos</h1>
			<p>We founded Eternos in 2008 after becoming dissatisfied with existing solutions for preserving the stories and moments that make up the rich tapestry of each person's life. We are pleased to offer you a premium life logging service which automatically imports data from your Facebook, Twitter, Gmail, Blogs and RSS feeds. By logging the things you already do on the web, Eternos empowers you to effortlessly document your legacy for descendants which we preserve for future generations.
			</p>
		</div>
		
		<div class="about02">
		  
			<h2>Our aim is nothing short of revolutionary - to allow you a measure of immortality by permanently preserving the moments that create the rich tapestry of your life. Eternos is a secure place for you to store all that can be digitized...the events, memories, experiences, insight, wisdom, and knowledge that define you.
      </h2> 		
		</div>
		
		<hr />
		
    <div class="about03">
      <h3>Meet the Eternos Team</h3>
     
        <p>
          <img src="/images/team_mm.jpg" />
          <strong>Marc Mauger, President</strong><br />
          Marc Mauger is a Seattle native who has spent his time as a developer, manager, visionary, architect, and general Internet guru across multiple media.		
        </p>  
     
        <p>
          <img src="/images/team_er.jpg" />
          <strong>Eric Rogers, Sales & Marketing</strong><br />
        </p>  			 
     
    </div>
	
	</fieldset>
</div>
<!-- end content -->
