<!-- start content -->
<div class="content about">
	<fieldset>
		<div class="about01">
			<h1>About Eternos</h1>
			<p>Eternos was founded in 2008 by several technology professionals who were dissatisfied with existing solutions for permanently preserving an individual’s personal data. Most of the solutions available today are very manual and labor intensive and there is no guarantee for eternal preservation of a person’s life records.  This gave birth to the idea of Eternos, a premium life logging service that allows you to automatically import data from Facebook, Twitter, Gmail, Blogs and RSS feeds. By logging the things you already do on the web, Eternos empowers you to effortlessly document your legacy for descendants which we preserve for future generations.
			</p>
		</div>
		
		<div class="about02">
		  
			<h2>Our mission is to provide our users with tools that allow for easy chronicling of their life and times. Our aim is to offer a 3 generation guarantee for data, ensuring that digital assets can survive for future generations.
      </h2> 		
		</div>
		
		<hr />
		
    <div class="about03">
      <h3>Meet the Eternos Team</h3>
        <div style="float: left; width: 50%">
        <p>
          <img src="/images/team_mm.jpg" />
          <strong>Marc Mauger, President</strong><br />
          Marc Mauger is a Seattle native who has spent his time as a developer, manager, visionary, architect, and general Internet guru across multiple media.		
        </p>  
      </div>
      <div style="float: left; width: 50%">
        <p>
          <img src="/images/team_er.jpg" />
          <strong>Eric Rogers, Business Development</strong><br />
          Eric has over 12 years in online marketing and advertising experience. Eric got his start indexing sites in a small search startup in 1997 and has gone on to start and manage small startups from basement to acquisition.
        </p>  			 
     </div>
    
	</div>
	</fieldset>
</div>
<!-- end content -->
