<!-- start content -->
<div class="content about">
	<fieldset>
		<div class="about01">
			<h1>About Eternos</h1>
			<p>We founded Eternos in 2008 after becoming dissatisfied with existing solutions for preserving the stories and moments that define each person's life. We are proud to offer you a premium life logging service which automatically imports data from your Facebook, Twitter, Gmail, Blogs and RSS feeds. By logging the things you already do on the Web Eternos empowers you to effortlessly create a rich life tapestry for descendants which we preserve for you, and for future generations. Additionally, there is a simple and intuitive video diary for you to record whatever happens to be on your mind and in your heart. Through preserving your life artifacts online with eternos you will add meaning to the life of your descendants and loved ones...long after you're gone. 
			</p>
			<p>
      Is it secure? Yes. Eternos.com is a certified McAfee SECURE site. Sites which are McAfee SECURE are tested daily to pass all external vulnerability audit recommendations of the Department of Homeland Security's National Infrastructure Protection Center (NIPC), the SANS/FBI Top 20 Internet Security Vulnerabilities list as well as the vulnerability audit requirements of Visa's CISP and AIS, MasterCard's SDP, American Express' DSS and Discover Card's DISC security standards.</p>
		</div>
		
		<div class="about02">
		  
			<h2>Eternos is a platform which enables people to easily and automatically document their life for posterity. Our aim is nothing short of revolutionary - to provide you with a measure of immortality by permanently preserving the rich tapestry of your life. We are not a social network, rather, Eternos is a safe place for you to store all the can be digitized...the events, memories, experiences, insight, wisdom, and knowledge that define you.</h2> 		
		</div>
		
		<hr />
		
		<div class="about03">
			<h3>Meet the Eternos Team</h3>
			<p>
			   <img src="/images/team.jpg" />
			   <strong>Marc Mauger, President</strong><br />
			   Marc Mauger is a Seattle native who has spent his time as a developer, manager, visionary, architect, and general Internet guru across multiple media.		
			</p>  
			<p>
			   <img src="/images/team_er.jpg" />
			   <strong>Eric Rogers, Sales & Marketing</strong><br />
			   Eric Rogers blah blah blah
			</p>  			 
		</div>
		
		<div class="about04">
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
			<img src="/images/team01.jpg" />
		</div>
		
		<div class="about04">
			
		</div>
	</fieldset>
</div>
<!-- end content -->
