<fieldset>
<div class="what01">
	<h1>Welcome to eternos</h1>
	<p>Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious, and there was no guarantee for eternal preservation.</p>
	<p>Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious.</p>
	<p>&quot;Eternos was founded in 2008 by some technology professionals after becoming dissatisfied.&quot;</p>		
</div>

<h1>What are you waiting for? Complete the Sign up!</h1>
<form>
	<p><label>full name:</label> <input type="text" /></p>
	<p><label>your email:</label> <input type="text" /></p>		
	<p>
		<label>password:</label> <input type="password" /><br />
		<label>&nbsp;</label><em>6 characters minimum</em>
	</p>
	<p align="center"><input type="submit" value="Sign Up" /></p>		
</form>
<p><strong>Or sign up with your Facebook account</strong></p>
<p><a href="#"><img src="images/f-connect.gif" border="0" /></a></p>
<p class="home01"><em>*By proceeding, you confirm that your over 13 years of age and accpet the Privacy and Terms.</em></p>
<hr />
	<fieldset>
		<h2>Product 1</h2>
		<img src="images/image02.jpg" align="left" />
		<p>Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious, and there was no guarantee for eternal preservation.Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious.</p>
		<p>&quot;Eternos was founded in 2008 by some technology professionals after becoming dissatisfied.&quot;ntee for eternal preservation.Eternos was founded in 2008 by some technology professionals after becoming dissatisfied wit.</p>						
		<p><a href="#">Learn More &gt;&gt;</a></p>
		<hr />
		<h2>Product 2</h2>
		<img src="images/image02.jpg" align="right" style="float:right" />
		<p>Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious, and there was no guarantee for eternal preservation.Eternos was founded in 2008 by some technology professionals after becoming dissatisfied with existing solutions for permanently preserving their own personal data. At that time, all solutions were very manual and laborious.</p>
		<p>&quot;Eternos was founded in 2008 by some technology professionals after becoming dissatisfied.&quot;ntee for eternal preservation.Eternos was founded in 2008 by some technology professionals after becoming dissatisfied wit.</p>						
		<p><a href="#">Learn More &gt;&gt;</a></p>
		
	</fieldset>
	
</fieldset>
</div>
<!-- end content -->