<!-- start content -->
<div class="content about">

	<fieldset>
		<div class="content-box about about01">
			<h1>About Eternos</h1>
			<p>Eternos was founded in 2008 by several technology professionals who were dissatisfied with existing solutions for long-term archiving of an individual’s social web activity. 
			<br/><br/>
			Most of the solutions available today are manual and labor intensive; there is no guarantee for long-term preservation of a person’s digital assets. 
			<br/><br/>
			This gave birth to the idea of Eternos, a premium life archive service that allows you to automatically import data from 
			<%= render :partial => 'backup_sources' %>.  
			<br/><br/>
			By archiving the things you already do on the web, Eternos empowers you to effortlessly document your online life for future reference and peace of mind.
			</p>
		</div>
		<div class="clearboth"></div>
		<div class="about02">
			<h2 class="myBox">Our mission is to provide our users with tools that allow for easy chronicling of their life and times. Our aim is to offer a 3 generation guarantee for data, ensuring that digital assets can survive for future generations.
      </h2> 		
		</div>
		
		<hr />
		
    <div class="about03">
      <h3>Meet the Eternos Team</h3>
        <p>
          <img src="/images/team_mm.jpg" />
          <strong>Marc Mauger, President</strong><br />
          Marc Mauger is a Seattle native who has spent his time as a developer, manager, architect, and general Internet guru across multiple media.		
        </p>  
        <p>
          <img src="/images/team_er.jpg" />
          <strong>Eric Rogers, Business Development</strong><br />
          Eric has over 12 years in online marketing and advertising experience. Eric got his start indexing sites in a small search startup in 1997 and has gone on to start and manage small startups from basement to acquisition.
        </p>  			 
	  </div>
	
	<div class="about04">
	  <!-- Images here 
		<img src="/images/team_mm.jpg" />
		<img src="/images/team_er.jpg" />
    -->
	</div>
	
	<div class="about04">
		
	</div>
	
	</fieldset>
</div>
<!-- end content -->
