<!-- start content -->
<div class="content about">
	<fieldset>
		<div class="about01">
			<h1>About Eternos</h1>
			<p>Eternos was founded in 2008 by several technology professionals who were dissatisfied with existing solutions for permanently preserving an individual’s personal data. Most of the solutions available today are very manual and labor intensive and there is no guarantee for eternal preservation of a person’s life records.  This gave birth to the idea of Eternos, a premium life logging service that allows you to automatically import data from Facebook, Twitter, Gmail, Blogs and RSS feeds. By logging the things you already do on the web, Eternos empowers you to effortlessly document your legacy for descendants which we preserve for future generations.
			</p>
		</div>
		
		<div class="about02">
		  
			<h2>Our aim is nothing short of revolutionary - to allow you a measure of immortality by permanently preserving the moments that create the rich tapestry of your life. Eternos is a secure place for you to store all that can be digitized...the events, memories, experiences, insight, wisdom, and knowledge that define you.
      </h2> 		
		</div>
		
		<hr />
		
    <div class="about03">
      <h3>Meet the Eternos Team</h3>
     
        <p>
          <img src="/images/team_mm.jpg" />
          <strong>Marc Mauger, President</strong><br />
          Marc Mauger is a Seattle native who has spent his time as a developer, manager, visionary, architect, and general Internet guru across multiple media.		
        </p>  
     
        <p>
          <img src="/images/team_er.jpg" />
          <strong>Eric Rogers, Sales & Marketing</strong><br />
        </p>  			 
     
    </div>
	
	</fieldset>
</div>
<!-- end content -->
