<div class="content what">
  <fieldset>
    <div class="what01">
      <p>
        Eternos believes in strong media relationships and is open to speaking with bloggers, traditional media, radio and television media.  Request a copy of <%= mail_to "press@eternos.com?subject=Press Kit Request", "our press kit",  :encode => "hex"  %> today.
      </p>

      <br />
      <div class="">Influential Blogs</div>
      <%= image_tag("dot.gif") %>

      <div style="clear:both"></div>
      <br />
      <div class="">Traditional Media</div>
      <%= image_tag("dot.gif") %>

      <div style="clear:both"></div>
      <br />
      <div class="">Radio and Television</div>
      <%= image_tag("dot.gif") %>

      <div style="clear:both"></div>
    </div>
  </div>
</fieldset>
</div>