<div class="content what">
  <fieldset>
    <div class="what01">
      <p>
        Eternos believes in strong media relationships and is open to speaking with bloggers, traditional media, radio and television media.  
        <br/>
        <%= link_to "Contact us today", '/about/contact' %>, we'd love to hear from you.
        <!--
        Request a copy of 
        <%= mail_to "contact@eternos.com?subject=Press Kit Request", "our press kit",  :encode => "hex"  %> today.
        -->
      </p>

      <br />
      <div class="">Tech Sites &amp; Blogs</div>
      <br/>
      <%= image_tag("dot.gif") %>
      <a href="http://www.technospot.net/blogs/backup-your-twitter-gmail-etc-and-moments-from-your-life-online/" target="_new">Technospot</a>
      <div style="clear:both"></div>
      <%= image_tag("dot.gif") %><a href="http://blog.genlighten.com/2010/01/24/eternos-preserving-your-tweets-facebook-photos-gmail-and-rss-for-future-generations/" target="_new">Genlighten</a>
      
      <div style="clear:both"></div>
      <br />
      <div class="">Traditional Media</div>
      

      <div style="clear:both"></div>
      <br />
      <div class="">Radio and Television</div>
      

      <div style="clear:both"></div>
    </div>
  </div>
</fieldset>
</div>