<div id="topbar">
  <div class="title1">Eternos Refund Policy</div>
</div>
<div id="content-container">
  <h3>Cancel within the first 30 days and you won’t be charged</h3>
  If you cancel your paid account before you are billed 30 days after your original signup then you won’t be charged.
  <p/><br/>
  <h3>Cancel after 30 days and you won’t be charged again</h3>
  Once you cancel you won’t be charged again, but you are responsible for whatever charges have already been incurred for the current billing period. For example, if your billing cycle is on the 18th of every month, and you cancel on the 24th, you’ll still have to pay for the current month, but you won’t be charged again after that. In order to treat everyone equally, no exceptions will be made.
  <p/><br/>
  <h3>How do I cancel my account?</h3>
  You can cancel your account at any time by logging into your account and selecting the “Account” tab (usually found on the Dashboard). Once you are on the Account page, click the “Please cancel my account” link.
</div>
    