<div class="content terms">
  <span class="subtitle1">Company:</span>
  <span class="subtitle2">Terms and Conditions</span>
  <br /><br />
  <div class="textarea1">
    <b>Eternos Web Site Agreement</b>
    <br />
    The Eternos Site (the "Site") is an online information service provided by Eternos.com or EON Digitial Preservation, INC. ("Eternos"), subject to your compliance with the terms and conditions set forth below. PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR USING THE SITE. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR USE THE SITE. ETERNOS MAY MODIFY THIS AGREEMENT AT ANY TIME, AND SUCH MODIFICATIONS SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING OF THE MODIFIED AGREEMENT ON THE SITE. YOU AGREE TO REVIEW THE AGREEMENT PERIODICALLY TO BE AWARE OF SUCH MODIFICATIONS AND YOUR CONTINUED ACCESS OR USE OF THE SITE SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED AGREEMENT.

    <br /><br />
    <b>1. Copyright, Licenses and Idea Submissions.</b>
    <br />
    The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are Eternos, its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials.
    <br /><br />
    <b>TRADEMARKS.</b>
    <br />
    Publications, products, content or services referenced herein or on the Site are the exclusive trademarks or servicemarks of Eternos. Other product and company names mentioned in the Site may be the trademarks of their respective owners.
    <br /><br />

    <b>2. Use of the Site.</b>
    <br />
    You understand that, except for information, products or services clearly identified as being supplied by Eternos, Eternos does not operate, control or endorse any information, products or services on the Internet in any way. Except for Eternos- identified information, products or services, all information, products and services offered through the Site or on the Internet generally are offered by third parties, that are not affiliated with Eternos a. You also understand that Eternos cannot and does not guarantee or warrant that files available for downloading through the Site will be free of infection or viruses, worms, Trojan horses or other code that manifest contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to the Site for the reconstruction of any lost data. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE AND THE INTERNET. Eternos PROVIDES THE SITE AND RELATED INFORMATION "AS IS" AND DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR NONINFRINGEMENT, OR THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICE, ANY MERCHANDISE INFORMATION OR SERVICE PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY, AND Eternos SHALL NOT BE LIABLE FOR ANY COST OR DAMAGE ARISING EITHER DIRECTLY OR INDIRECTLY FROM ANY SUCH TRANSACTION. IT IS SOLELY YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS AND USEFULNESS OF ALL OPINIONS, ADVICE, SERVICES, MERCHANDISE AND OTHER INFORMATION PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY. Eternos DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE SERVICE WILL BE CORRECTED.
    <br />
    YOU UNDERSTAND FURTHER THAT THE PURE NATURE OF THE INTERNET CONTAINS UNEDITED MATERIALS SOME OF WHICH ARE SEXUALLY EXPLICIT OR MAY BE OFFENSIVE TO YOU. YOUR ACCESS TO SUCH MATERIALS IS AT YOUR RISK. Eternos HAS NO CONTROL OVER AND ACCEPTS NO RESPONSIBILITY WHATSOEVER FOR SUCH MATERIALS.
    <br /><br />

    <b>LIMITATION OF LIABILITY</b>
    <br />
    IN NO EVENT WILL ETERNOS BE LIABLE FOR (I) ANY INCIDENTAL, CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR INFORMATION, AND THE LIKE) ARISING OUT OF THE USE OF OR INABILITY TO USE THE SERVICE, OR ANY INFORMATION, OR TRANSACTIONS PROVIDED ON THE SERVICE, OR DOWNLOADED FROM THE SERVICE, OR ANY DELAY OF SUCH INFORMATION OR SERVICE. EVEN IF ETERNOS OR ITS AUTHORIZED REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (II) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SERVICE AND/OR MATERIALS OR INFORMATION DOWNLOADED THROUGH THE SERVICE. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, ETERNOS's LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.

    <br /><br />

    Eternos makes no representations whatsoever about any other web site which you may access through this one or which may link to this Site. When you access a non - Eternos web site, please understand that it is independent from Eternos, and that Eternos has no control over the content on that web site. In addition, a link to a Eternos web site does not mean that Eternos endorses or accepts any responsibility for the content, or the use, of such web site.
    <br /><br />

    You also understand Eternos can not be held responsible for any parts purchased from any of the parts suppliers Eternos may put you in contact with. Eternos is simply providing a go between service by putting suppliers in contact with customers wanting to purchase parts. Eternos have no control over the quality of any parts you may source while using our service. You must understand this before using this service.
    <br /><br />

    <b>3. Indemnification.</b>
    <br />
    You agree to indemnify, defend and hold harmless Eternos, its officers, directors, employees, agents, licensors, suppliers and any third party information providers to the Service from and against all losses, expenses, damages and costs, including reasonable attorneys\' fees, resulting from any violation of this Agreement (including negligent or wrongful conduct) by you or any other person accessing the Service.
    <br /><br />

    <b>4. Third Party Rights.</b>
    <br />
    The provisions of paragraphs 2 (Use of the Service), and 3 (Indemnification) are for the benefit of Eternos and its officers, directors, employees, agents, licensors, suppliers, and any third party information providers to the Service. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.
    <br /><br />

    <b>5. Term; Termination.</b>
    <br />
    This Agreement may be terminated by either party without notice at any time for any reason. The provisions of paragraphs 1 (Copyright, Licenses and Idea Submissions), 2 (Use of the Service), 3 (Indemnification), 4 (Third Party Rights) and 6 (Miscellaneous) shall survive any termination of this Agreement.  
    <br/>
    Eternos reserves the right at any time to modify, suspend, or discontinue providing the Service or any part thereof in its sole discretion with or without notice.
    <br/>
    Eternos will use commercially reasonable efforts to notify you of modification, suspension, or discontinuance of the Service either by sending an email to the email address you provide with your registration or by a posting on eternos.com website. However, in no event will Eternos be liable to you or to any third party for any modification, suspension or discontinuance of the Service with or without notice.
    <br /><br />

    <b>6. Miscellaneous.</b>
    <br />
    This Agreement shall all be governed and construed in accordance with the laws of Australia applicable to agreements made and to be performed in Australia. You agree that any legal action or proceeding between Eternos and you for any purpose concerning this Agreement or the parties' obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in Australia . Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. Eternos's failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. Eternos may assign its rights and duties under this Agreement to any party at any time without notice to you.

    <br /><br />

    Any rights not expressly granted herein are reserved.


  </div>
  <div style="clear:both"></div>
</div>