<div class="content what">
  <fieldset>
    <div class="what01">
      <h1>What is Eternos?</h1>
        <p>
        You can think of Eternos as a family photo album, scrapbook, video vault, digital safe deposit box, and diary, kept secure at one site.
        <p/>
        <!--<h1>Why?</h1>-->
        <p>
        All too often the memories and personal artifacts we spend a lifetime accumulating are lost to natural disasters (fires, floods, earthquakes, hurricanes, etc.), discarded for lack of context, or simply misplaced. Important family histories are completely and needlessly lost. No more, Eternos is a 21st century solution to this age-old problem.
        <p/>
        <!--<h1>How It Works</h1>-->
        <p>
        Eternos allows you to automatically and continuously import data from 
        <%= render :partial => 'backup_sources' %>
        . If you're not into social networking you can upload video, important documents, and photos via our direct file upload. We offer a simple and intuitive video diary for you to record whatever happens to be on your mind and in your heart. Eternos is a completely private and secure life chronicle where you can save life's precious and important interactions, files, memories, and moments for the future.
        </p>		
    </div>
    <% unless current_user %>
      <h1>What are you waiting for? Complete the Sign up!</h1>
      <%= render :partial => 'accounts/short_form', :locals => {:plan => AppConfig.default_plan} %>
    <% end %>
    <p class="clear-both">&nbsp;</p>
   	<hr />
   
  <fieldset>

  <h2>Life Key</h2>
  <a href="#"><img src="/images/lifekey_large.jpg" width="252" height="181" alt="Life Key" class="floatleft" /></a>
  <p>Using Life Key, you can appoint trustees who can notify us upon your passing and we will provide them access to the memories you chose to leave them.</p>
  <hr  />
 
  <h2>Search</h2>
  <a href="#"><img src="/images/search_large.jpg" width="252" height="181" alt="Search" class="floatleft" /></a>
  <p>Look up moments in your life quickly, using our easy to use search feature.</p> 
  <hr  />
  <!--
  <h2>Video Diary</h2>
  <a href="#"><img src="/images/whatis-videodiary.jpg" width="252" height="181" alt="Video Diary" class="floatleft" /></a>
  <p>Your Eternos Video Journal will be a treasured resource through which your loved ones will come to have a more intimate understanding of who you were. With your Video Journal you can share your intimate thoughts on life, your dreams, values, and beliefs with your descendants. By using the Video Journal you will communicate and connect with the future, ensuring that your loved ones will continue to benefit from your perspective long after you're gone.
    </p>
  <hr  />
  -->
  <h2>Automated / Continuous Import</h2>
  <a href="#"><img src="/images/backup_sample.jpg" width="252" height="181" alt="Automated / Continuous Import" class="floatleft" /></a>
  <p>Backup all your social networking data, emails, blogs and RSS feeds automatically.  Store everything that you do online so that you can go back and see what you were doing at any specific point in time.</p>

  <hr  />    

  <h2>Timeline</h2>
  <a href="#"><img src="/images/timeline_large.jpg" width="252" height="181" alt="Timeline" class="floatleft" /></a>
  <p>Create a timeline that you can scroll through by age, day, month or year.  View specific items at any point of your timeline.</p>

  <hr  />    

  <h2>Easy Event / Artifact Editing</h2>
  <a href="#"><img src="/images/artifactediting_large.jpg" width="252" height="181" alt="Easy Event / Artifact Editing" class="floatleft" /></a>
  <p>Use this feature to tag events for easy reference, assign permissions to view events and to delete any content.</p>

  <hr  />    
  <!--
  <h2>Eternos Momento Studio / Eternos Momento Player</h2>
  <a href="#"><img src="/images/whatis-blank.jpg" width="252" height="181" alt="Eternos Momento Studio / Eternos Momento Player" class="floatleft" /></a>
  <p>Create beautiful slide presentations using pictures, videos and narrations.</p>
  <hr  />
  -->
  </fieldset>
	
</fieldset>
</div>
<!-- end content -->