<div class="content what">
  <fieldset>
    <div class="what01">
      <h1>What is Eternos?</h1>
        You can think of Eternos as a family photo album, scrapbook, video vault, digital safe deposit box, and diary, kept secure at one site.
        <p/>
        <br/>
        <h1>Why?</h1>
        All too often the memories and personal artifacts we spend a lifetime accumulating are lost to natural disasters (fires, floods, earthquakes, hurricanes, etc.), discarded for lack of context, or simply misplaced. Important family histories are completely and needlessly lost. No more, Eternos is a 21st century solution to this age-old problem.
        <p/>
        <br/>
        <h1>How It Works</h1>
        Eternos allows you to automatically and continuously import data from Facebook, Twitter, Gmail, Blogs, and RSS feeds. If you're not into social networking you can upload video, important documents, and photos via our direct file upload. We offer a simple and intuitive video diary for you to record whatever happens to be on your mind and in your heart. Eternos is a completely private and secure life chronicle where you can save life's precious and important interactions, files, memories, and moments for the future.
        </p>		
    </div>
    <% unless current_user %>
      <%= submit_tag "Sign Up" %>
    <% end %>
    <hr />
  
  <%= render :partial => 'features' %>
    </fieldset>
</div>
<!-- end content -->