<% title "Audio" %>

<%= render :partial => 'audio', :object => object %>

<p>
<%= link_to "Destroy", object, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to "All Photos", photos_path %>
</p>
