%table
  %tr
    %td
      %p.input
        %label Full Name
    %td= f.text_field :name
  %tr
    %td
      %p.input
        %label Relationship
    %td= f.text_field :relationship
  %tr
    %td{:valign=>"top"}
      %p.input
        %label 
          Contact Email Addresses
          %br
          (one per line)
    %td= f.text_area :emails, :rows => 5
