#name
  .label Name :
  = f.text_field :name, :class => 'field'
#relation
  .label Relationship :
  = f.text_field :relationship, :class => 'field'
#emails
  .label 
    Contact email addresses :
    %br
    %font{:size => "1"}
      %i (one email per line)
  = f.text_area :emails, :rows => 5, :class => 'field'
