<table width="100%" border="0" cellspacing="0" cellpadding="0" class="trustee-table">
%tr.trustee-table-header
  %td Name
  %td{:align=>"center"} Relationship
  %td{:align=>"center"} Action
= render :partial => trustees if trustees.any?
</table>
