- @domId = dom_id(trustee)
- @item_edit_id = @domId + "_edit_row"
%tr{:id => @domId}
  %td
    = restful_in_place_editor :span, trustee, :name
  %td
    = restful_in_place_editor :span, trustee, :relationship
  %td
    = restful_in_place_editor :span, trustee, :emails
  %td
    = link_to 'Delete', trustee_path(trustee), :class => 'remote_delete'

