- hide_login_box

.content.what
  %fieldset
    .what01
      - if params[:home_login]
        - flash.discard
      -else
        = show_flash_messages unless 
      = custom_error_messages_for :user
      = render :partial => 'shared/login_form', :locals => {:user_session => @user_session}

