- hide_login_box
- use_lowpro
- use_form

.content.what
  %fieldset
    .what01
      = show_flash_messages
      = custom_error_messages_for :user
      = render :partial => 'shared/login_form', :locals => {:user_session => @user_session}

