%ul
  %li{:class => members_tab_class_active?('timelines')}
    = link_to 'Home', member_home_path
    %span
  %li{:class => members_tab_class_active?('account_setup')}
    = link_to 'Account Setup', account_setup_path
    %span