!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    
    / bundle do
    - stylesheet 'popup', 'application', 'forms'
    -# Include javascript libs manually to prevent cacheing that breaks scripts
    - load_prototype
    - use_lightview
    - use_scrollbar
    
    - javascript 'application', 'account_setup'
      
    = yield(:head)
    = yield(:js_libs)
    = yield(:javascript)
    / end bundle
  %body
    = yield
    
