!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    / bundle do
    - stylesheet 'popup', 'application'
    -# Include javascript libs manually to prevent cacheing that breaks scripts
    - load_prototype
    - use_lightview
    - javascript 'account_setup', 'scroller', 'slider'
      
    = yield(:head)
    = yield(:js_libs)
    = yield(:javascript)
    / end bundle
  %body
    = yield
    
