- title 'Signup'
- hide_login_box

.content.signup
  %fieldset
    = render :partial => 'signup_wizard_left', :locals => {:steps => {:signup => true}}
    .signup-right
      %h1 You're Almost Finished! Check Your Email and Verify Your Account!
      %p.signup02
        We’ve just sent a confirmation email to
        %b= @user.email 
        containing instructions for activating your account. This will verify that you are the owner of this email address and the creator of this account.
        %br
        %br
        If you don't see our email in the next few minutes, please check your spam/junk mail folder.


    
      
