- title 'change plan'

%p= error_messages_for :subscription
%p
  You can change your plan level at any time.  The limits and other features of the new plan that you select will be effective as soon as you make the change, but your bill amount will not change until your next bill date.
%br
%p
Plans Grid here: sample from Basecamp below...
%br
= image_tag 'basecamp_plans.png'